In [2]:
# %load ../local_connect.py
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+mysqlconnector://tushar:@localhost', echo=True)
%load_ext sql
%sql mysql+mysqlconnector://tushar:@localhost
%config SqlMagic.autopandas=True

import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)

In [3]:
%%sql
select * from test.transactions

 * mysql+mysqlconnector://tushar:***@localhost
8 rows affected.

   order_id  cust_id  order_date  amount
0         1        1  2020-01-15     150
1         2        1  2020-02-10     150
2         3        2  2020-01-16     150
3         4        2  2020-02-25     150
4         5        3  2020-01-10     150
5         6        3  2020-02-20     150
6         7        4  2020-01-20     150
7         8        5  2020-02-20     150

In [19]:
%%sql
with month_info as(
select cust_id, date_format(order_date, '%Y%m') month,
rank() over (partition by cust_id order by date_format(order_date, '%Y-%m')) as rank_
from test.transactions
)
select m1.month, count(m2.cust_id)
from month_info m1
left join month_info m2
on m1.cust_id=m2.cust_id and m1.rank_=m2.rank_+1
group by 1

 * mysql+mysqlconnector://tushar:***@localhost
2 rows affected.

    month  count(m2.cust_id)
0  202001                  0
1  202002                  3

In [20]:
%%sql
with month_info as(
select cust_id, date_format(order_date, '%Y%m') month,
rank() over (partition by cust_id order by date_format(order_date, '%Y-%m')) as rank_
from test.transactions
)
select m1.month, count(m2.cust_id)
from month_info m1
left join month_info m2
on m1.cust_id=m2.cust_id and m1.rank_>m2.rank_+1
group by 1

 * mysql+mysqlconnector://tushar:***@localhost
2 rows affected.

    month  count(m2.cust_id)
0  202001                  0
1  202002                  0