In [1]:
!pip install boto3

DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. pip 21.0 will drop support for Python 2.7 in January 2021. More details about Python 2 support in pip can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support pip 21.0 will remove support for this functionality.
Defaulting to user installation because normal site-packages is not writeable
Collecting boto3
  Downloading boto3-1.17.112-py2.py3-none-any.whl (131 kB)
     |████████████████████████████████| 131 kB 4.7 MB/s eta 0:00:01
Collecting s3transfer<0.5.0,>=0.4.0
  Downloading s3transfer-0.4.2-py2.py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 2.6 MB/s eta 0:00:01
Collecting jmespath<1.0.0,>=0.7.1
  Downloading jmespath-0.10.0-py2.py3-none-any.whl (24 kB)
Collecting botocore<1.21.0,>=1.20.112
  Downloading botocore-1.20.112-py2.py3-none-any.whl (7.7 MB)
     |████████████████████████████████| 7.7 MB 516 kB/s eta 0:00:01
Requirement already satisfied: futures<4.0.0,>=2.2.0; python_version == "2.7" in /home/tushar/.local/lib/python2.7/site-packages (from s3transfer<0.5.0,>=0.4.0->boto3) (3.3.0)
Collecting urllib3<1.27,>=1.25.4
  Downloading urllib3-1.26.12-py2.py3-none-any.whl (140 kB)
     |████████████████████████████████| 140 kB 3.6 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/tushar/.local/lib/python2.7/site-packages (from botocore<1.21.0,>=1.20.112->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/tushar/.local/lib/python2.7/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.21.0,>=1.20.112->boto3) (1.16.0)
Installing collected packages: jmespath, urllib3, botocore, s3transfer, boto3
Successfully installed boto3-1.17.112 botocore-1.20.112 jmespath-0.10.0 s3transfer-0.4.2 urllib3-1.26.12

In [3]:
import boto3

In [36]:
AWS_ACCESS_KEY = "AKIA2JUZMGCJV3SPSUVV"
AWS_SECRET_KEY = "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"
AWS_REGION = "us-east-1"
SCHEMA_NAME = "covid-database"
S3_STAGING_DIR = "athena-covid-output"
OUTPUT_DIR = "output"

In [5]:
s3_client.list_buckets()

{'ResponseMetadata': {'RequestId': 'QGJASAPYSDQMGSY4',
  'HostId': 'lxyropI9Wh6gnedFfScAULEnaqbLlreHuPy8SNKZ6kXviYQZNa8iJfE6ludYIYZwetVJcpY5TgM=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'lxyropI9Wh6gnedFfScAULEnaqbLlreHuPy8SNKZ6kXviYQZNa8iJfE6ludYIYZwetVJcpY5TgM=',
   'x-amz-request-id': 'QGJASAPYSDQMGSY4',
   'date': 'Tue, 08 Nov 2022 09:14:52 GMT',
   'content-type': 'application/xml',
   'transfer-encoding': 'chunked',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'Buckets': [{'Name': 'athena-covid-output',
   'CreationDate': datetime.datetime(2022, 10, 22, 7, 55, 29, tzinfo=tzutc())},
  {'Name': 'cardmember',
   'CreationDate': datetime.datetime(2022, 10, 20, 13, 18, 10, tzinfo=tzutc())},
  {'Name': 'cc-info',
   'CreationDate': datetime.datetime(2022, 10, 20, 11, 33, 44, tzinfo=tzutc())},
  {'Name': 'tushar-coviddata',
   'CreationDate': datetime.datetime(2022, 10, 22, 7, 25, 30, tzinfo=tzutc())},
  {'Name': 'tushartesting',
   'CreationDate': datetime.datetime(2022, 8, 27, 9, 20, 31, tzinfo=tzutc())}],
 'Owner': {'DisplayName': 'tushar5353',
  'ID': 'f2c45fc66c5d899e64ceeed5531f1431ac39ab5b6dab17c4d2d7868dd3a71a91'}}

In [37]:
import pandas as pd
from io import StringIO
import time
import boto3

s3_client = boto3.client(
    "s3",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION
    )

athena_client = boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION
    )
def download_and_load_query_results(client, response):
    while True:
        try:
            client.get_query_results(
                QueryExecutionId=response["QueryExecutionId"]
            )
            break
        except Exception as e:
            if "not yet finished" in str(e):
                time.sleep(0.001)
            else:
                raise e
    temp_file_location = "athena_query_results.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION
        )
    s3_client.download_file(
        S3_STAGING_DIR,
        f"{response['QueryExecutionId']}.csv",
        temp_file_location
    )
    return pd.read_csv(temp_file_location)

In [46]:
table_names = [
    "countrycode",
    "countypopulation",
    "enigma_jhud",
    #"rearc_usa_hospital_beds",
    "state_abv",
    "states_daily",
    "us_county",
    "us_daily",
    "us_states",
    "us_total_latest"
]

for table in table_names:
    response = athena_client.start_query_execution(
        QueryString = f"SELECT * FROM {table} limit 10",
        QueryExecutionContext = {"Database": SCHEMA_NAME},
        ResultConfiguration = {
            "OutputLocation": "s3://"+S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
        }
    )
    df = download_and_load_query_results(athena_client, response)
    print("***"*20)
    print(f"Table:: {table}")
    new_header = ""
    if table=="state_abv":
        new_header = df.iloc[0]
        df = df[1:]
        df.columns = new_header
    
    print(df.head())

************************************************************
Table:: countrycode
          country alpha-2 code alpha-3 code  numeric code  latitude  longitude
0     Afghanistan           AF          AFG             4   33.0000       65.0
1         Albania           AL          ALB             8   41.0000       20.0
2         Algeria           DZ          DZA            12   28.0000        3.0
3  American Samoa           AS          ASM            16  -14.3333     -170.0
4         Andorra           AD          AND            20   42.5000        1.6
************************************************************
Table:: countypopulation
               id   id2   county    state  population estimate 2018
0  0500000US01001  1001  Autauga  Alabama                     55601
1  0500000US01003  1003  Baldwin  Alabama                    218022
2  0500000US01005  1005  Barbour  Alabama                     24881
3  0500000US01007  1007     Bibb  Alabama                     22400
4  0500000US01009  1009   Blount  Alabama                     57840
************************************************************
Table:: enigma_jhud
   fips  admin2 province_state country_region          last_update  latitude  \
0   NaN     NaN          Anhui          China  2020-01-22T17:00:00    31.826
1   NaN     NaN        Beijing          China  2020-01-22T17:00:00    40.182
2   NaN     NaN      Chongqing          China  2020-01-22T17:00:00    30.057
3   NaN     NaN         Fujian          China  2020-01-22T17:00:00    26.079
4   NaN     NaN          Gansu          China  2020-01-22T17:00:00    36.061

   longitude  confirmed  deaths  recovered  active combined_key partition_0
0    117.226        1.0     NaN        NaN     NaN       "Anhui         csv
1    116.414       14.0     NaN        NaN     NaN     "Beijing         csv
2    107.874        6.0     NaN        NaN     NaN   "Chongqing         csv
3    117.987        1.0     NaN        NaN     NaN      "Fujian         csv
4    103.834        NaN     NaN        NaN     NaN       "Gansu         csv
************************************************************
Table:: state_abv
0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA
************************************************************
Table:: states_daily
       date state  positive  probablecases   negative  pending  \
0  20210307    AK     56886            NaN        NaN      NaN
1  20210307    AL    499819       107742.0  1931711.0      NaN
2  20210307    AR    324818        69092.0  2480716.0      NaN
3  20210307    AS         0            NaN     2140.0      NaN
4  20210307    AZ    826454        56519.0  3073010.0      NaN

  totaltestresultssource  totaltestresults  hospitalizedcurrently  \
0        totalTestsViral           1731628                   33.0
1  totalTestsPeopleViral           2323788                  494.0
2        totalTestsViral           2736442                  335.0
3        totalTestsViral              2140                    NaN
4        totalTestsViral           7908105                  963.0

   hospitalizedcumulative  ...  dataqualitygrade  deathincrease  \
0                  1293.0  ...               NaN              0
1                 45976.0  ...               NaN             -1
2                 14926.0  ...               NaN             22
3                     NaN  ...               NaN              0
4                 57907.0  ...               NaN              5

   hospitalizedincrease                                      hash  \
0                     0  dc4bccd4bb885349d7e94d6fed058e285d4be164
1                     0  997207b430824ea40b8eb8506c19a93e07bc972e
2                    11  50921aeefba3e30d31623aa495b47fb2ecc72fae
3                     0  96d23f888c995b9a7f3b4b864de6414f45c728ff
4                    44  0437a7a96f4471666f775e63e86923eb5cbd8cdf

   commercialscore negativeregularscore negativescore positivescore  score  \
0                0                    0             0             0      0
1                0                    0             0             0      0
2                0                    0             0             0      0
3                0                    0             0             0      0
4                0                    0             0             0      0

   grade
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN

[5 rows x 56 columns]
************************************************************
Table:: us_county
         date     county       state   fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061      1       0
1  2020-01-22  Snohomish  Washington  53061      1       0
2  2020-01-23  Snohomish  Washington  53061      1       0
3  2020-01-24       Cook    Illinois  17031      1       0
4  2020-01-24  Snohomish  Washington  53061      1       0
************************************************************
Table:: us_daily
       date  states  positive  negative  pending  hospitalizedcurrently  \
0  20210307      56  28755524  74579770    11808                  40212
1  20210306      56  28714259  74449356    11783                  41401
2  20210305      56  28654639  74307155    12213                  42541
3  20210304      56  28585852  74035238    12405                  44172
4  20210303      56  28520365  73857281    11778                  45462

   hospitalizedcumulative  inicucurrently  inicucumulative  \
0                  878613            8137            45475
1                  877887            8409            45453
2                  877384            8634            45373
3                  874603            8970            45293
4                  873073            9359            45214

   onventilatorcurrently  ...          lastmodified recovered  total  posneg  \
0                   2801  ...  2021-03-07T24:00:00Z       NaN      0       0
1                   2811  ...  2021-03-06T24:00:00Z       NaN      0       0
2                   2889  ...  2021-03-05T24:00:00Z       NaN      0       0
3                   2973  ...  2021-03-04T24:00:00Z       NaN      0       0
4                   3094  ...  2021-03-03T24:00:00Z       NaN      0       0

   deathincrease hospitalizedincrease  negativeincrease  positiveincrease  \
0            839                  726            130414             41265
1           1674                  503            142201             59620
2           2221                 2781            271917             68787
3           1743                 1530            177957             65487
4           2449                 2172            267001             66836

   totaltestresultsincrease                                      hash
0                   1156241  8b26839690cd05c0cef69cb9ed85641a76b5e78e
1                   1409138  d0c0482ea549c9d5c04a7c86acb6fc6a8095a592
2                   1744417  a35ea4289cec4bb55c9f29ae04ec0fd5ac4e0222
3                   1590984  a19ad6379a653834cbda3093791ad2c3b9fab5ff
4                   1406795  9e1d2afda1b0ec243060d6f68a7134d011c0cb2a

[5 rows x 25 columns]
************************************************************
Table:: us_states
         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0
************************************************************
Table:: us_total_latest
   positive  negative  pending  hospitalizedcurrently  hospitalizedcumulative  \
0   1061101   5170081     2775                  53793                  111955

   inicucurrently  inicucumulative  onventilatorcurrently  \
0            9486             4192                   4712

   onventilatorcumulative  recovered  \
0                     373     153947

                                       hash              lastmodified  death  \
0  95064ba29ccbc20dbec397033dfe4b1f45137c99  2020-05-01T09:12:31.891Z  57266

   hospitalized    total  totaltestresults   posneg             notes
0        111955  6233957           6231182  6231182  "NOTE: ""total""

In [39]:
response

{'QueryExecutionId': '6e55ca93-e0cf-46cb-b9d0-b47496adaada',
 'ResponseMetadata': {'RequestId': '9a29fe12-7af7-4cda-bc19-3596a4335e59',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Tue, 08 Nov 2022 12:23:41 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '9a29fe12-7af7-4cda-bc19-3596a4335e59'},
  'RetryAttempts': 0}}

In [31]:
x = download_and_load_query_results(athena_client, response)
x

before1
before2
before3

,date,states,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,...,lastmodified,recovered,total,posneg,deathincrease,hospitalizedincrease,negativeincrease,positiveincrease,totaltestresultsincrease,hash
0,20210307,56,28755524,74579770,11808,40212,878613,8137,45475,2801,...,2021-03-07T24:00:00Z,NaN,0,0,839,726,130414,41265,1156241,8b26839690cd05c0cef69cb9ed85641a76b5e78e
1,20210306,56,28714259,74449356,11783,41401,877887,8409,45453,2811,...,2021-03-06T24:00:00Z,NaN,0,0,1674,503,142201,59620,1409138,d0c0482ea549c9d5c04a7c86acb6fc6a8095a592
2,20210305,56,28654639,74307155,12213,42541,877384,8634,45373,2889,...,2021-03-05T24:00:00Z,NaN,0,0,2221,2781,271917,68787,1744417,a35ea4289cec4bb55c9f29ae04ec0fd5ac4e0222
3,20210304,56,28585852,74035238,12405,44172,874603,8970,45293,2973,...,2021-03-04T24:00:00Z,NaN,0,0,1743,1530,177957,65487,1590984,a19ad6379a653834cbda3093791ad2c3b9fab5ff
4,20210303,56,28520365,73857281,11778,45462,873073,9359,45214,3094,...,2021-03-03T24:00:00Z,NaN,0,0,2449,2172,267001,66836,1406795,9e1d2afda1b0ec243060d6f68a7134d011c0cb2a
5,20210302,56,28453529,73590280,11196,46388,870901,9465,45084,3169,...,2021-03-02T24:00:00Z,NaN,0,0,1728,1871,255779,54248,1343519,d09d1f506dacacd07f11102ddf356ffc29bbaeb6
6,20210301,56,28399281,73334501,11748,46738,869030,9595,44956,3171,...,2021-03-01T24:00:00Z,NaN,0,0,1241,1024,118077,48092,1154440,b8084497a1216c1ba4e391d7496b7c0ee669cffa
7,20210228,56,28351189,73216424,11708,47352,868006,9802,44907,3245,...,2021-02-28T24:00:00Z,NaN,0,0,1051,879,203599,54349,1408422,c7cfdf3c2bf7472966bada1560de5d2d7a30277e
8,20210227,56,28296840,73012825,11731,48871,867127,10114,44875,3335,...,2021-02-27T24:00:00Z,NaN,0,0,1847,1428,205090,71245,1655179,b1154e8002e47ec585f769adf5ceecaa53dc8cbb
9,20210226,56,28225595,72807735,11945,51112,865699,10466,44791,3466,...,2021-02-26T24:00:00Z,NaN,0,0,2141,1933,276829,74857,1803309,24286d9bbff64d4ff6b09301e75eac682dafc732

In [7]:
s3_client.download_file(
            S3_STAGING_DIR,
            f"ec18b49d-0c74-422b-a495-dd3991d3d627.csv",
            "test1.csv"
        )

In [165]:
response

{'QueryExecutionId': 'ec18b49d-0c74-422b-a495-dd3991d3d627',
 'ResponseMetadata': {'RequestId': '762ab9ac-46ca-44aa-b484-cc01bc2f582e',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Tue, 25 Oct 2022 09:35:56 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '762ab9ac-46ca-44aa-b484-cc01bc2f582e'},
  'RetryAttempts': 0}}

In [42]:
athena_client.get_query_execution(
                QueryExecutionId=response["QueryExecutionId"]
            )

{'QueryExecution': {'QueryExecutionId': 'c44ff3ba-7b87-447c-810e-0e2a3f6a8c0c',
  'Query': 'SELECT * FROM rearc_usa_hospital_beds limit 10',
  'StatementType': 'DML',
  'ResultConfiguration': {'OutputLocation': 's3://athena-covid-output/c44ff3ba-7b87-447c-810e-0e2a3f6a8c0c.csv',
   'EncryptionConfiguration': {'EncryptionOption': 'SSE_S3'}},
  'QueryExecutionContext': {'Database': 'covid-database'},
  'Status': {'State': 'FAILED',
   'StateChangeReason': 'Row is not a valid JSON Object - JSONException: Unterminated string at 404 [character 405 line 1]',
   'SubmissionDateTime': datetime.datetime(2022, 11, 8, 17, 54, 53, 433000, tzinfo=tzlocal()),
   'CompletionDateTime': datetime.datetime(2022, 11, 8, 17, 54, 54, 145000, tzinfo=tzlocal()),
   'AthenaError': {'ErrorCategory': 2,
    'ErrorType': 1002,
    'Retryable': False,
    'ErrorMessage': 'Row is not a valid JSON Object - JSONException: Unterminated string at 404 [character 405 line 1]'}},
  'Statistics': {'EngineExecutionTimeInMillis': 484,
   'DataScannedInBytes': 0,
   'TotalExecutionTimeInMillis': 712,
   'QueryQueueTimeInMillis': 198,
   'QueryPlanningTimeInMillis': 85,
   'ServiceProcessingTimeInMillis': 30},
  'WorkGroup': 'primary',
  'EngineVersion': {'SelectedEngineVersion': 'AUTO',
   'EffectiveEngineVersion': 'Athena engine version 2'}},
 'ResponseMetadata': {'RequestId': '8c26d95e-4d0c-46f1-ac6f-b91243d5dd83',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Tue, 08 Nov 2022 12:25:07 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '2115',
   'connection': 'keep-alive',
   'x-amzn-requestid': '8c26d95e-4d0c-46f1-ac6f-b91243d5dd83'},
  'RetryAttempts': 0}}

In [11]:
athena_client.get_query_results(
                QueryExecutionId=response["QueryExecutionId"]
            )

{'UpdateCount': 0,
 'ResultSet': {'Rows': [{'Data': [{'VarCharValue': 'date'},
     {'VarCharValue': 'states'},
     {'VarCharValue': 'positive'},
     {'VarCharValue': 'negative'},
     {'VarCharValue': 'pending'},
     {'VarCharValue': 'hospitalizedcurrently'},
     {'VarCharValue': 'hospitalizedcumulative'},
     {'VarCharValue': 'inicucurrently'},
     {'VarCharValue': 'inicucumulative'},
     {'VarCharValue': 'onventilatorcurrently'},
     {'VarCharValue': 'onventilatorcumulative'},
     {'VarCharValue': 'datechecked'},
     {'VarCharValue': 'death'},
     {'VarCharValue': 'hospitalized'},
     {'VarCharValue': 'totaltestresults'},
     {'VarCharValue': 'lastmodified'},
     {'VarCharValue': 'recovered'},
     {'VarCharValue': 'total'},
     {'VarCharValue': 'posneg'},
     {'VarCharValue': 'deathincrease'},
     {'VarCharValue': 'hospitalizedincrease'},
     {'VarCharValue': 'negativeincrease'},
     {'VarCharValue': 'positiveincrease'},
     {'VarCharValue': 'totaltestresultsincrease'},
     {'VarCharValue': 'hash'}]},
   {'Data': [{'VarCharValue': '20210307'},
     {'VarCharValue': '56'},
     {'VarCharValue': '28755524'},
     {'VarCharValue': '74579770'},
     {'VarCharValue': '11808'},
     {'VarCharValue': '40212'},
     {'VarCharValue': '878613'},
     {'VarCharValue': '8137'},
     {'VarCharValue': '45475'},
     {'VarCharValue': '2801'},
     {'VarCharValue': '4281'},
     {'VarCharValue': '2021-03-07T24:00:00Z'},
     {'VarCharValue': '515142'},
     {'VarCharValue': '878613'},
     {'VarCharValue': '363789451'},
     {'VarCharValue': '2021-03-07T24:00:00Z'},
     {'VarCharValue': ''},
     {'VarCharValue': '0'},
     {'VarCharValue': '0'},
     {'VarCharValue': '839'},
     {'VarCharValue': '726'},
     {'VarCharValue': '130414'},
     {'VarCharValue': '41265'},
     {'VarCharValue': '1156241'},
     {'VarCharValue': '8b26839690cd05c0cef69cb9ed85641a76b5e78e'}]},
   {'Data': [{'VarCharValue': '20210306'},
     {'VarCharValue': '56'},
     {'VarCharValue': '28714259'},
     {'VarCharValue': '74449356'},
     {'VarCharValue': '11783'},
     {'VarCharValue': '41401'},
     {'VarCharValue': '877887'},
     {'VarCharValue': '8409'},
     {'VarCharValue': '45453'},
     {'VarCharValue': '2811'},
     {'VarCharValue': '4280'},
     {'VarCharValue': '2021-03-06T24:00:00Z'},
     {'VarCharValue': '514303'},
     {'VarCharValue': '877887'},
     {'VarCharValue': '362633210'},
     {'VarCharValue': '2021-03-06T24:00:00Z'},
     {'VarCharValue': ''},
     {'VarCharValue': '0'},
     {'VarCharValue': '0'},
     {'VarCharValue': '1674'},
     {'VarCharValue': '503'},
     {'VarCharValue': '142201'},
     {'VarCharValue': '59620'},
     {'VarCharValue': '1409138'},
     {'VarCharValue': 'd0c0482ea549c9d5c04a7c86acb6fc6a8095a592'}]},
   {'Data': [{'VarCharValue': '20210305'},
     {'VarCharValue': '56'},
     {'VarCharValue': '28654639'},
     {'VarCharValue': '74307155'},
     {'VarCharValue': '12213'},
     {'VarCharValue': '42541'},
     {'VarCharValue': '877384'},
     {'VarCharValue': '8634'},
     {'VarCharValue': '45373'},
     {'VarCharValue': '2889'},
     {'VarCharValue': '4275'},
     {'VarCharValue': '2021-03-05T24:00:00Z'},
     {'VarCharValue': '512629'},
     {'VarCharValue': '877384'},
     {'VarCharValue': '361224072'},
     {'VarCharValue': '2021-03-05T24:00:00Z'},
     {'VarCharValue': ''},
     {'VarCharValue': '0'},
     {'VarCharValue': '0'},
     {'VarCharValue': '2221'},
     {'VarCharValue': '2781'},
     {'VarCharValue': '271917'},
     {'VarCharValue': '68787'},
     {'VarCharValue': '1744417'},
     {'VarCharValue': 'a35ea4289cec4bb55c9f29ae04ec0fd5ac4e0222'}]},
   {'Data': [{'VarCharValue': '20210304'},
     {'VarCharValue': '56'},
     {'VarCharValue': '28585852'},
     {'VarCharValue': '74035238'},
     {'VarCharValue': '12405'},
     {'VarCharValue': '44172'},
     {'VarCharValue': '874603'},
     {'VarCharValue': '8970'},
     {'VarCharValue': '45293'},
     {'VarCharValue': '2973'},
     {'VarCharValue': '4267'},
     {'VarCharValue': '2021-03-04T24:00:00Z'},
     {'VarCharValue': '510408'},
     {'VarCharValue': '874603'},
     {'VarCharValue': '359479655'},
     {'VarCharValue': '2021-03-04T24:00:00Z'},
     {'VarCharValue': ''},
     {'VarCharValue': '0'},
     {'VarCharValue': '0'},
     {'VarCharValue': '1743'},
     {'VarCharValue': '1530'},
     {'VarCharValue': '177957'},
     {'VarCharValue': '65487'},
     {'VarCharValue': '1590984'},
     {'VarCharValue': 'a19ad6379a653834cbda3093791ad2c3b9fab5ff'}]},
   {'Data': [{'VarCharValue': '20210303'},
     {'VarCharValue': '56'},
     {'VarCharValue': '28520365'},
     {'VarCharValue': '73857281'},
     {'VarCharValue': '11778'},
     {'VarCharValue': '45462'},
     {'VarCharValue': '873073'},
     {'VarCharValue': '9359'},
     {'VarCharValue': '45214'},
     {'VarCharValue': '3094'},
     {'VarCharValue': '4260'},
     {'VarCharValue': '2021-03-03T24:00:00Z'},
     {'VarCharValue': '508665'},
     {'VarCharValue': '873073'},
     {'VarCharValue': '357888671'},
     {'VarCharValue': '2021-03-03T24:00:00Z'},
     {'VarCharValue': ''},
     {'VarCharValue': '0'},
     {'VarCharValue': '0'},
     {'VarCharValue': '2449'},
     {'VarCharValue': '2172'},
     {'VarCharValue': '267001'},
     {'VarCharValue': '66836'},
     {'VarCharValue': '1406795'},
     {'VarCharValue': '9e1d2afda1b0ec243060d6f68a7134d011c0cb2a'}]},
   {'Data': [{'VarCharValue': '20210302'},
     {'VarCharValue': '56'},
     {'VarCharValue': '28453529'},
     {'VarCharValue': '73590280'},
     {'VarCharValue': '11196'},
     {'VarCharValue': '46388'},
     {'VarCharValue': '870901'},
     {'VarCharValue': '9465'},
     {'VarCharValue': '45084'},
     {'VarCharValue': '3169'},
     {'VarCharValue': '4257'},
     {'VarCharValue': '2021-03-02T24:00:00Z'},
     {'VarCharValue': '506216'},
     {'VarCharValue': '870901'},
     {'VarCharValue': '356481876'},
     {'VarCharValue': '2021-03-02T24:00:00Z'},
     {'VarCharValue': ''},
     {'VarCharValue': '0'},
     {'VarCharValue': '0'},
     {'VarCharValue': '1728'},
     {'VarCharValue': '1871'},
     {'VarCharValue': '255779'},
     {'VarCharValue': '54248'},
     {'VarCharValue': '1343519'},
     {'VarCharValue': 'd09d1f506dacacd07f11102ddf356ffc29bbaeb6'}]},
   {'Data': [{'VarCharValue': '20210301'},
     {'VarCharValue': '56'},
     {'VarCharValue': '28399281'},
     {'VarCharValue': '73334501'},
     {'VarCharValue': '11748'},
     {'VarCharValue': '46738'},
     {'VarCharValue': '869030'},
     {'VarCharValue': '9595'},
     {'VarCharValue': '44956'},
     {'VarCharValue': '3171'},
     {'VarCharValue': '4252'},
     {'VarCharValue': '2021-03-01T24:00:00Z'},
     {'VarCharValue': '504488'},
     {'VarCharValue': '869030'},
     {'VarCharValue': '355138357'},
     {'VarCharValue': '2021-03-01T24:00:00Z'},
     {'VarCharValue': ''},
     {'VarCharValue': '0'},
     {'VarCharValue': '0'},
     {'VarCharValue': '1241'},
     {'VarCharValue': '1024'},
     {'VarCharValue': '118077'},
     {'VarCharValue': '48092'},
     {'VarCharValue': '1154440'},
     {'VarCharValue': 'b8084497a1216c1ba4e391d7496b7c0ee669cffa'}]},
   {'Data': [{'VarCharValue': '20210228'},
     {'VarCharValue': '56'},
     {'VarCharValue': '28351189'},
     {'VarCharValue': '73216424'},
     {'VarCharValue': '11708'},
     {'VarCharValue': '47352'},
     {'VarCharValue': '868006'},
     {'VarCharValue': '9802'},
     {'VarCharValue': '44907'},
     {'VarCharValue': '3245'},
     {'VarCharValue': '4252'},
     {'VarCharValue': '2021-02-28T24:00:00Z'},
     {'VarCharValue': '503247'},
     {'VarCharValue': '868006'},
     {'VarCharValue': '353983917'},
     {'VarCharValue': '2021-02-28T24:00:00Z'},
     {'VarCharValue': ''},
     {'VarCharValue': '0'},
     {'VarCharValue': '0'},
     {'VarCharValue': '1051'},
     {'VarCharValue': '879'},
     {'VarCharValue': '203599'},
     {'VarCharValue': '54349'},
     {'VarCharValue': '1408422'},
     {'VarCharValue': 'c7cfdf3c2bf7472966bada1560de5d2d7a30277e'}]},
   {'Data': [{'VarCharValue': '20210227'},
     {'VarCharValue': '56'},
     {'VarCharValue': '28296840'},
     {'VarCharValue': '73012825'},
     {'VarCharValue': '11731'},
     {'VarCharValue': '48871'},
     {'VarCharValue': '867127'},
     {'VarCharValue': '10114'},
     {'VarCharValue': '44875'},
     {'VarCharValue': '3335'},
     {'VarCharValue': '4252'},
     {'VarCharValue': '2021-02-27T24:00:00Z'},
     {'VarCharValue': '502196'},
     {'VarCharValue': '867127'},
     {'VarCharValue': '352575495'},
     {'VarCharValue': '2021-02-27T24:00:00Z'},
     {'VarCharValue': ''},
     {'VarCharValue': '0'},
     {'VarCharValue': '0'},
     {'VarCharValue': '1847'},
     {'VarCharValue': '1428'},
     {'VarCharValue': '205090'},
     {'VarCharValue': '71245'},
     {'VarCharValue': '1655179'},
     {'VarCharValue': 'b1154e8002e47ec585f769adf5ceecaa53dc8cbb'}]},
   {'Data': [{'VarCharValue': '20210226'},
     {'VarCharValue': '56'},
     {'VarCharValue': '28225595'},
     {'VarCharValue': '72807735'},
     {'VarCharValue': '11945'},
     {'VarCharValue': '51112'},
     {'VarCharValue': '865699'},
     {'VarCharValue': '10466'},
     {'VarCharValue': '44791'},
     {'VarCharValue': '3466'},
     {'VarCharValue': '4247'},
     {'VarCharValue': '2021-02-26T24:00:00Z'},
     {'VarCharValue': '500349'},
     {'VarCharValue': '865699'},
     {'VarCharValue': '350920316'},
     {'VarCharValue': '2021-02-26T24:00:00Z'},
     {'VarCharValue': ''},
     {'VarCharValue': '0'},
     {'VarCharValue': '0'},
     {'VarCharValue': '2141'},
     {'VarCharValue': '1933'},
     {'VarCharValue': '276829'},
     {'VarCharValue': '74857'},
     {'VarCharValue': '1803309'},
     {'VarCharValue': '24286d9bbff64d4ff6b09301e75eac682dafc732'}]}],
  'ResultSetMetadata': {'ColumnInfo': [{'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'date',
     'Label': 'date',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'states',
     'Label': 'states',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'positive',
     'Label': 'positive',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'negative',
     'Label': 'negative',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'pending',
     'Label': 'pending',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'hospitalizedcurrently',
     'Label': 'hospitalizedcurrently',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'hospitalizedcumulative',
     'Label': 'hospitalizedcumulative',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'inicucurrently',
     'Label': 'inicucurrently',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'inicucumulative',
     'Label': 'inicucumulative',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'onventilatorcurrently',
     'Label': 'onventilatorcurrently',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'onventilatorcumulative',
     'Label': 'onventilatorcumulative',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'datechecked',
     'Label': 'datechecked',
     'Type': 'varchar',
     'Precision': 2147483647,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': True},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'death',
     'Label': 'death',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'hospitalized',
     'Label': 'hospitalized',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'totaltestresults',
     'Label': 'totaltestresults',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'lastmodified',
     'Label': 'lastmodified',
     'Type': 'varchar',
     'Precision': 2147483647,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': True},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'recovered',
     'Label': 'recovered',
     'Type': 'varchar',
     'Precision': 2147483647,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': True},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'total',
     'Label': 'total',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'posneg',
     'Label': 'posneg',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'deathincrease',
     'Label': 'deathincrease',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'hospitalizedincrease',
     'Label': 'hospitalizedincrease',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'negativeincrease',
     'Label': 'negativeincrease',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'positiveincrease',
     'Label': 'positiveincrease',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'totaltestresultsincrease',
     'Label': 'totaltestresultsincrease',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False},
    {'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': 'hash',
     'Label': 'hash',
     'Type': 'varchar',
     'Precision': 2147483647,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': True}]}},
 'ResponseMetadata': {'RequestId': '5dfaedb1-e325-487d-8a51-9e0d1658affa',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Tue, 08 Nov 2022 09:16:23 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '20347',
   'connection': 'keep-alive',
   'x-amzn-requestid': '5dfaedb1-e325-487d-8a51-9e0d1658affa'},
  'RetryAttempts': 0}}

In [89]:
athena_client.list_databases(CatalogName="AwsDataCatalog")

{'DatabaseList': [{'Name': 'covid-database'},
  {'Name': 'default'},
  {'Name': 'mydatabase'},
  {'Name': 'spectrumdb'}],
 'ResponseMetadata': {'RequestId': 'd6497326-4b82-4ae3-b99c-be3344dc1a39',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Tue, 25 Oct 2022 08:01:45 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '107',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'd6497326-4b82-4ae3-b99c-be3344dc1a39'},
  'RetryAttempts': 0}}

In [53]:
help(athena_client.get_query_results)

Help on method get_query_results in module botocore.client:

get_query_results(*args, **kwargs) method of botocore.client.Athena instance
    Streams the results of a single query execution specified by ``QueryExecutionId`` from the Athena query results location in Amazon S3. For more information, see `Query Results <https://docs.aws.amazon.com/athena/latest/ug/querying.html>`__ in the *Amazon Athena User Guide* . This request does not execute the query but returns results. Use  StartQueryExecution to run a query.



    To stream query results successfully, the IAM principal with permission to call ``GetQueryResults`` also must have permissions to the Amazon S3 ``GetObject`` action for the Athena query results location.



    .. warning::



      IAM principals with permission to the Amazon S3 ``GetObject`` action for the query results location are able to retrieve query results from Amazon S3 even if permission to the ``GetQueryResults`` action is denied. To restrict user or role access, ensure that Amazon S3 permissions to the Athena query location are denied.





    See also: `AWS API Documentation <https://docs.aws.amazon.com/goto/WebAPI/athena-2017-05-18/GetQueryResults>`_


    **Request Syntax**
    ::

      response = client.get_query_results(
          QueryExecutionId='string',
          NextToken='string',
          MaxResults=123
      )
    :type QueryExecutionId: string
    :param QueryExecutionId: **[REQUIRED]**

      The unique ID of the query execution.




    :type NextToken: string
    :param NextToken:

      A token generated by the Athena service that specifies where to continue pagination if a previous request was truncated. To obtain the next set of pages, pass in the ``NextToken`` from the response object of the previous page call.




    :type MaxResults: integer
    :param MaxResults:

      The maximum number of results (rows) to return in this request.





    :rtype: dict
    :returns:

      **Response Syntax**


      ::

        {
            'UpdateCount': 123,
            'ResultSet': {
                'Rows': [
                    {
                        'Data': [
                            {
                                'VarCharValue': 'string'
                            },
                        ]
                    },
                ],
                'ResultSetMetadata': {
                    'ColumnInfo': [
                        {
                            'CatalogName': 'string',
                            'SchemaName': 'string',
                            'TableName': 'string',
                            'Name': 'string',
                            'Label': 'string',
                            'Type': 'string',
                            'Precision': 123,
                            'Scale': 123,
                            'Nullable': 'NOT_NULL'|'NULLABLE'|'UNKNOWN',
                            'CaseSensitive': True|False
                        },
                    ]
                }
            },
            'NextToken': 'string'
        }
      **Response Structure**



      - *(dict) --*


        - **UpdateCount** *(integer) --*

          The number of rows inserted with a ``CREATE TABLE AS SELECT`` statement.




        - **ResultSet** *(dict) --*

          The results of the query execution.




          - **Rows** *(list) --*

            The rows in the table.




            - *(dict) --*

              The rows that make up a query result table.




              - **Data** *(list) --*

                The data that populates a row in a query result table.




                - *(dict) --*

                  A piece of data (a field in the table).




                  - **VarCharValue** *(string) --*

                    The value of the datum.








          - **ResultSetMetadata** *(dict) --*

            The metadata that describes the column structure and data types of a table of query results.




            - **ColumnInfo** *(list) --*

              Information about the columns returned in a query result metadata.




              - *(dict) --*

                Information about the columns in a query execution result.




                - **CatalogName** *(string) --*

                  The catalog to which the query results belong.




                - **SchemaName** *(string) --*

                  The schema name (database name) to which the query results belong.




                - **TableName** *(string) --*

                  The table name for the query results.




                - **Name** *(string) --*

                  The name of the column.




                - **Label** *(string) --*

                  A column label.




                - **Type** *(string) --*

                  The data type of the column.




                - **Precision** *(integer) --*

                  For ``DECIMAL`` data types, specifies the total number of digits, up to 38. For performance reasons, we recommend up to 18 digits.




                - **Scale** *(integer) --*

                  For ``DECIMAL`` data types, specifies the total number of digits in the fractional part of the value. Defaults to 0.




                - **Nullable** *(string) --*

                  Indicates the column's nullable status.




                - **CaseSensitive** *(boolean) --*

                  Indicates whether values in the column are case-sensitive.








        - **NextToken** *(string) --*

          A token generated by the Athena service that specifies where to continue pagination if a previous request was truncated. To obtain the next set of pages, pass in the ``NextToken`` from the response object of the previous page call.

In [184]:
import pandas as pd

df = pd.DataFrame({"A": list("ccaaabbcaaaccaaaa")})
print(df)
df.groupby('A').ngroup()+1

    A
0   c
1   c
2   a
3   a
4   a
5   b
6   b
7   c
8   a
9   a
10  a
11  c
12  c
13  a
14  a
15  a
16  a

0     3
1     3
2     1
3     1
4     1
5     2
6     2
7     3
8     1
9     1
10    1
11    3
12    3
13    1
14    1
15    1
16    1
dtype: int64

In [47]:
x = {'partId': '', 'mimeType': 'multipart/alternative', 'filename': '', 'headers': [{'name': 'Delivered-To', 'value': 'tushar5353@gmail.com'}, {'name': 'Received', 'value': 'by 2002:adf:d215:0:0:0:0:0 with SMTP id j21csp1475798wrh;        Sun, 13 Nov 2022 05:04:43 -0800 (PST)'}, {'name': 'X-Received', 'value': 'by 2002:a92:ce05:0:b0:300:7f01:776b with SMTP id b5-20020a92ce05000000b003007f01776bmr4245988ilo.178.1668344683762;        Sun, 13 Nov 2022 05:04:43 -0800 (PST)'}, {'name': 'ARC-Seal', 'value': 'i=1; a=rsa-sha256; t=1668344683; cv=none;        d=google.com; s=arc-20160816;        b=I/h5IxJwl1CHsbYyPyZokZ6DFft3FHfTt3/w8HQMw5QBUZOA8L0U+sM/GLEA/xzhX3         OLd+ysQxpejD1JN1FFuoFFqIgbvkz1UfWE60cVLxHdI7wwMGibylNup35d3TgCqipw0K         +2yzpOIDjxyizs6qHTCl9+9BMcwOPttI8lq7tr12tGY1yUKD6fxPUbk5gEGoaz6YpjQY         1RyG6aFnXBZawXFsAvS9Oko9r7kRfEsLepyqgqmKVgE7QNdXtdzFOflfMtdcIKK5zmem         Tb9kbmqIemGrp6hhW6bRgcqC4TB8oC+WUnanCYoSOEbpLpntEafl8pO623oqL2V4M0ZP         Y9xQ=='}, {'name': 'ARC-Message-Signature', 'value': 'i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20160816;        h=to:from:subject:message-id:feedback-id:date:mime-version         :dkim-signature;        bh=Cem7Q1SYkwYmeneVWxMMXJZDSIQaf0iIvVS6/QaFLJM=;        b=B20VluGM3B7Gdgv2jEjiW6wvrYptQPdH8YoH5zyn8SuH0gWVqKXFlk+Gm9nciflHS/         Ma58g7qBWwq6NXcT1UuXt36eYnntp8gzGDg9IiKn+mZU1XauNWOQ5Hi6sd96nh8FESRq         WBOedx0SUIKldf+WZhqA6l15EqtXa6Lqi8AUnLs+zyE2gTmxvH/i6mcheU010JtbVo8I         W3ahZsPJdcuAIAsbj14AOK+R5VC5XUmMuJ7lQ595xc9s0kjJay4ADI6St5VwJ3e64KMR         ESFiIq0Hn9RateISJg4VRQM1duGA/EhgitQzBzkpAYj8ytcO6kq8/yAw2TsXp1rL8txA         JQuQ=='}, {'name': 'ARC-Authentication-Results', 'value': 'i=1; mx.google.com;       dkim=pass header.i=@accounts.google.com header.s=20210112 header.b=awWA8XYq;       spf=pass (google.com: domain of 3a-twywgtcigrs-vitpceggsyrxw.ksskpi.gsqxywlevjhjhkqemp.gsq@gaia.bounces.google.com designates 209.85.220.73 as permitted sender) smtp.mailfrom=3a-twYwgTCigRS-VITPcEGGSYRXW.KSSKPI.GSQXYWLEVjhjhKQEMP.GSQ@gaia.bounces.google.com;       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=accounts.google.com'}, {'name': 'Return-Path', 'value': '<3a-twYwgTCigRS-VITPcEGGSYRXW.KSSKPI.GSQXYWLEVjhjhKQEMP.GSQ@gaia.bounces.google.com>'}, {'name': 'Received', 'value': 'from mail-sor-f73.google.com (mail-sor-f73.google.com. [209.85.220.73])        by mx.google.com with SMTPS id a11-20020a92330b000000b0030249f09ef2sor981221ilf.137.2022.11.13.05.04.43        for <tushar5353@gmail.com>        (Google Transport Security);        Sun, 13 Nov 2022 05:04:43 -0800 (PST)'}, {'name': 'Received-SPF', 'value': 'pass (google.com: domain of 3a-twywgtcigrs-vitpceggsyrxw.ksskpi.gsqxywlevjhjhkqemp.gsq@gaia.bounces.google.com designates 209.85.220.73 as permitted sender) client-ip=209.85.220.73;'}, {'name': 'Authentication-Results', 'value': 'mx.google.com;       dkim=pass header.i=@accounts.google.com header.s=20210112 header.b=awWA8XYq;       spf=pass (google.com: domain of 3a-twywgtcigrs-vitpceggsyrxw.ksskpi.gsqxywlevjhjhkqemp.gsq@gaia.bounces.google.com designates 209.85.220.73 as permitted sender) smtp.mailfrom=3a-twYwgTCigRS-VITPcEGGSYRXW.KSSKPI.GSQXYWLEVjhjhKQEMP.GSQ@gaia.bounces.google.com;       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=accounts.google.com'}, {'name': 'DKIM-Signature', 'value': 'v=1; a=rsa-sha256; c=relaxed/relaxed;        d=accounts.google.com; s=20210112;        h=to:from:subject:message-id:feedback-id:date:mime-version:from:to:cc         :subject:date:message-id:reply-to;        bh=Cem7Q1SYkwYmeneVWxMMXJZDSIQaf0iIvVS6/QaFLJM=;        b=awWA8XYq11Hy+vNZGzRNFLfAY5Vc/DTil5Z7Vx20T4sGX6axW82XUZsVbjtsnfFHbj         aEyus5fTiYPF5yNoLJYeWruv95/s9H1ql2hE341Mifz27l7224a2B9IMcoKar2B9N5Ht         X7K2LWQ5L/brHYGyOTKB1XNRlmXSC/j+/ZiIaoex/To8+FkzxbzFJEesaMFpJxEE0+GI         1jBGFPtNzjrMMhFQA+NuFbpj3gTyL/oZpl0yp4rlDZchbm+UBvN8XrQ/jWxEh4jw/CaE         vCDVAWGZUbqwuLhG86a1ddIzANWMyw1ofi7Giv/J7lcE7CBts4SbVdSule01IEpeezDq         UUrA=='}, {'name': 'X-Google-DKIM-Signature', 'value': 'v=1; a=rsa-sha256; c=relaxed/relaxed;        d=1e100.net; s=20210112;        h=to:from:subject:message-id:feedback-id:date:mime-version         :x-gm-message-state:from:to:cc:subject:date:message-id:reply-to;        bh=Cem7Q1SYkwYmeneVWxMMXJZDSIQaf0iIvVS6/QaFLJM=;        b=2iC2CqJdCS+i283d/cHi3tCSWTc1/x17Po/LUcJQMTH6BQ3k/RpmOLuwnpgwdaJKDS         TMBJEvLhzDiLMb1IrDzxtroJ7wUXxe/PK21knCgmyD3BbZ8UPeqMQLpZn7nT/Alyy38y         Jqku7p2Nx4cFEevpAA18+N8cdQ8bjj1X5dm3amKvtN7IPXmJXU8tX42H6U9J5CmFCnUD         5p9v4+349nT5L3fYUG/ZtRH/L+pgzfcT+t81qm0zTtW+/Sek0UFLV9MTE0z8Ip+FKJBS         BOzaA7DOYljzCMYilbvINGiskfn3MOlyEfC9sxGIzuABMI1cukDxbi+lzmuM58k34F31         wMrg=='}, {'name': 'X-Gm-Message-State', 'value': 'ANoB5pkL+8kvY86QWz4ZQpUBNlHzyCU9U4la9gqxfmp0hMQatHjTuSbG pEQZyguRb1h8mdJ5oJ/vBagEG/tx7PbIVUD25gADYg=='}, {'name': 'X-Google-Smtp-Source', 'value': 'AA0mqf7RPes7+3Ga/QfUuOZbsQtjDdbqt3crdB1lG++qS6eH8Emghint+oL/SnDOQR7At7ctbpoyrzNdBEySUek9sselvA=='}, {'name': 'MIME-Version', 'value': '1.0'}, {'name': 'X-Received', 'value': 'by 2002:a05:6e02:66b:b0:300:5dc4:d11f with SMTP id l11-20020a056e02066b00b003005dc4d11fmr4558624ilt.67.1668344683475; Sun, 13 Nov 2022 05:04:43 -0800 (PST)'}, {'name': 'Date', 'value': 'Sun, 13 Nov 2022 13:04:43 GMT'}, {'name': 'X-Account-Notification-Type', 'value': '127'}, {'name': 'Feedback-ID', 'value': '127:account-notifier'}, {'name': 'X-Notifications', 'value': 'd10734c88ee80000'}, {'name': 'X-Notifications-Bounce-Info', 'value': 'AZFyLSQwLnr7TCgwB4Y4XDFYP_gi6hdj5QVxw6Tr-57g49Z-HwEAaF4UJ0_pJDJrKIxS-tW-KIMjZf2qYJoBrC68BdYKn_RHJ202aM5BgDDIQB999nNCM8uFmXepqpAx-ofOMc58_STjgdwkIKwMuwcJfKlP3rWkWuMnjzo9XKSupKlOXOoeqTDzTBPHRGUoNjAwNjA0MDQxNTM1NTk2OTMzMg'}, {'name': 'Message-ID', 'value': '<9PyMyUtMZi1ConmL5wSv3A@notifications.google.com>'}, {'name': 'Subject', 'value': 'Security alert'}, {'name': 'From', 'value': 'Google <no-reply@accounts.google.com>'}, {'name': 'To', 'value': 'tushar5353@gmail.com'}, {'name': 'Content-Type', 'value': 'multipart/alternative; boundary="00000000000038b26005ed59c4c1"'}], 'body': {'size': 0}, 'parts': [{'partId': '0', 'mimeType': 'text/plain', 'filename': '', 'headers': [{'name': 'Content-Type', 'value': 'text/plain; charset="UTF-8"; format=flowed; delsp=yes'}, {'name': 'Content-Transfer-Encoding', 'value': 'base64'}], 'body': {'size': 668, 'data': 'W2ltYWdlOiBHb29nbGVdDQpnbWFpbC11c2luZy1hcGktdGVzdCB3YXMgZ3JhbnRlZCBhY2Nlc3MgdG8geW91ciBHb29nbGUgQWNjb3VudA0KDQoNCnR1c2hhcjUzNTNAZ21haWwuY29tDQoNCklmIHlvdSBkaWQgbm90IGdyYW50IGFjY2VzcywgeW91IHNob3VsZCBjaGVjayB0aGlzIGFjdGl2aXR5IGFuZCBzZWN1cmUgeW91cg0KYWNjb3VudC4NCkNoZWNrIGFjdGl2aXR5DQo8aHR0cHM6Ly9hY2NvdW50cy5nb29nbGUuY29tL0FjY291bnRDaG9vc2VyP0VtYWlsPXR1c2hhcjUzNTNAZ21haWwuY29tJmNvbnRpbnVlPWh0dHBzOi8vbXlhY2NvdW50Lmdvb2dsZS5jb20vYWxlcnQvbnQvMTY2ODM0NDY4MzAwMD9yZm4lM0QxMjclMjZyZm5jJTNEMSUyNmVpZCUzRC0xNjg4MTAyNTQ1OTc3Mzc3Nzg1JTI2ZXQlM0QwPg0KWW91IGNhbiBhbHNvIHNlZSBzZWN1cml0eSBhY3Rpdml0eSBhdA0KaHR0cHM6Ly9teWFjY291bnQuZ29vZ2xlLmNvbS9ub3RpZmljYXRpb25zDQpZb3UgcmVjZWl2ZWQgdGhpcyBlbWFpbCB0byBsZXQgeW91IGtub3cgYWJvdXQgaW1wb3J0YW50IGNoYW5nZXMgdG8geW91cg0KR29vZ2xlIEFjY291bnQgYW5kIHNlcnZpY2VzLg0KwqkgMjAyMiBHb29nbGUgTExDLCAxNjAwIEFtcGhpdGhlYXRyZSBQYXJrd2F5LCBNb3VudGFpbiBWaWV3LCBDQSA5NDA0MywgVVNBDQo='}}, {'partId': '1', 'mimeType': 'text/html', 'filename': '', 'headers': [{'name': 'Content-Type', 'value': 'text/html; charset="UTF-8"'}, {'name': 'Content-Transfer-Encoding', 'value': 'quoted-printable'}], 'body': {'size': 4701, 'data': 'PCFET0NUWVBFIGh0bWw-PGh0bWwgbGFuZz0iZW4iPjxoZWFkPjxtZXRhIG5hbWU9ImZvcm1hdC1kZXRlY3Rpb24iIGNvbnRlbnQ9ImVtYWlsPW5vIi8-PG1ldGEgbmFtZT0iZm9ybWF0LWRldGVjdGlvbiIgY29udGVudD0iZGF0ZT1ubyIvPjxzdHlsZSBub25jZT0icEUzWGtrR2JycHhUeFhwZld6Y3dCQSI-LmF3bCBhIHtjb2xvcjogI0ZGRkZGRjsgdGV4dC1kZWNvcmF0aW9uOiBub25lO30gLmFibWwgYSB7Y29sb3I6ICMwMDAwMDA7IGZvbnQtZmFtaWx5OiBSb2JvdG8tTWVkaXVtLEhlbHZldGljYSxBcmlhbCxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1kZWNvcmF0aW9uOiBub25lO30gLmFkZ2wgYSB7Y29sb3I6IHJnYmEoMCwgMCwgMCwgMC44Nyk7IHRleHQtZGVjb3JhdGlvbjogbm9uZTt9IC5hZmFsIGEge2NvbG9yOiAjYjBiMGIwOyB0ZXh0LWRlY29yYXRpb246IG5vbmU7fSBAbWVkaWEgc2NyZWVuIGFuZCAobWluLXdpZHRoOiA2MDBweCkgey52MnNwIHtwYWRkaW5nOiA2cHggMzBweCAwcHg7fSAudjJyc3Age3BhZGRpbmc6IDBweCAxMHB4O319IEBtZWRpYSBzY3JlZW4gYW5kIChtaW4td2lkdGg6IDYwMHB4KSB7Lm1kdjJydyB7cGFkZGluZzogNDBweCA0MHB4O319IDwvc3R5bGU-PGxpbmsgaHJlZj0iLy9mb250cy5nb29nbGVhcGlzLmNvbS9jc3M_ZmFtaWx5PUdvb2dsZStTYW5zIiByZWw9InN0eWxlc2hlZXQiIHR5cGU9InRleHQvY3NzIiBub25jZT0icEUzWGtrR2JycHhUeFhwZld6Y3dCQSIvPjwvaGVhZD48Ym9keSBzdHlsZT0ibWFyZ2luOiAwOyBwYWRkaW5nOiAwOyIgYmdjb2xvcj0iI0ZGRkZGRiI-PHRhYmxlIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHN0eWxlPSJtaW4td2lkdGg6IDM0OHB4OyIgYm9yZGVyPSIwIiBjZWxsc3BhY2luZz0iMCIgY2VsbHBhZGRpbmc9IjAiIGxhbmc9ImVuIj48dHIgaGVpZ2h0PSIzMiIgc3R5bGU9ImhlaWdodDogMzJweDsiPjx0ZD48L3RkPjwvdHI-PHRyIGFsaWduPSJjZW50ZXIiPjx0ZD48ZGl2IGl0ZW1zY29wZSBpdGVtdHlwZT0iLy9zY2hlbWEub3JnL0VtYWlsTWVzc2FnZSI-PGRpdiBpdGVtcHJvcD0iYWN0aW9uIiBpdGVtc2NvcGUgaXRlbXR5cGU9Ii8vc2NoZW1hLm9yZy9WaWV3QWN0aW9uIj48bGluayBpdGVtcHJvcD0idXJsIiBocmVmPSJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20vQWNjb3VudENob29zZXI_RW1haWw9dHVzaGFyNTM1M0BnbWFpbC5jb20mYW1wO2NvbnRpbnVlPWh0dHBzOi8vbXlhY2NvdW50Lmdvb2dsZS5jb20vYWxlcnQvbnQvMTY2ODM0NDY4MzAwMD9yZm4lM0QxMjclMjZyZm5jJTNEMSUyNmVpZCUzRC0xNjg4MTAyNTQ1OTc3Mzc3Nzg1JTI2ZXQlM0QwIi8-PG1ldGEgaXRlbXByb3A9Im5hbWUiIGNvbnRlbnQ9IlJldmlldyBBY3Rpdml0eSIvPjwvZGl2PjwvZGl2Pjx0YWJsZSBib3JkZXI9IjAiIGNlbGxzcGFjaW5nPSIwIiBjZWxscGFkZGluZz0iMCIgc3R5bGU9InBhZGRpbmctYm90dG9tOiAyMHB4OyBtYXgtd2lkdGg6IDUxNnB4OyBtaW4td2lkdGg6IDIyMHB4OyI-PHRyPjx0ZCB3aWR0aD0iOCIgc3R5bGU9IndpZHRoOiA4cHg7Ij48L3RkPjx0ZD48ZGl2IHN0eWxlPSJib3JkZXItc3R5bGU6IHNvbGlkOyBib3JkZXItd2lkdGg6IHRoaW47IGJvcmRlci1jb2xvcjojZGFkY2UwOyBib3JkZXItcmFkaXVzOiA4cHg7IHBhZGRpbmc6IDQwcHggMjBweDsiIGFsaWduPSJjZW50ZXIiIGNsYXNzPSJtZHYycnciPjxpbWcgc3JjPSJodHRwczovL3d3dy5nc3RhdGljLmNvbS9pbWFnZXMvYnJhbmRpbmcvZ29vZ2xlbG9nby8yeC9nb29nbGVsb2dvX2NvbG9yXzc0eDI0ZHAucG5nIiB3aWR0aD0iNzQiIGhlaWdodD0iMjQiIGFyaWEtaGlkZGVuPSJ0cnVlIiBzdHlsZT0ibWFyZ2luLWJvdHRvbTogMTZweDsiIGFsdD0iR29vZ2xlIj48ZGl2IHN0eWxlPSJmb250LWZhbWlseTogJiMzOTtHb29nbGUgU2FucyYjMzk7LFJvYm90byxSb2JvdG9EcmFmdCxIZWx2ZXRpY2EsQXJpYWwsc2Fucy1zZXJpZjtib3JkZXItYm90dG9tOiB0aGluIHNvbGlkICNkYWRjZTA7IGNvbG9yOiByZ2JhKDAsMCwwLDAuODcpOyBsaW5lLWhlaWdodDogMzJweDsgcGFkZGluZy1ib3R0b206IDI0cHg7dGV4dC1hbGlnbjogY2VudGVyOyB3b3JkLWJyZWFrOiBicmVhay13b3JkOyI-PGRpdiBzdHlsZT0iZm9udC1zaXplOiAyNHB4OyI-PGE-Z21haWwtdXNpbmctYXBpLXRlc3Q8L2E-IHdhcyBncmFudGVkIGFjY2VzcyB0byB5b3VyIEdvb2dsZSZuYnNwO0FjY291bnQgPC9kaXY-PHRhYmxlIGFsaWduPSJjZW50ZXIiIHN0eWxlPSJtYXJnaW4tdG9wOjhweDsiPjx0ciBzdHlsZT0ibGluZS1oZWlnaHQ6IG5vcm1hbDsiPjx0ZCBhbGlnbj0icmlnaHQiIHN0eWxlPSJwYWRkaW5nLXJpZ2h0OjhweDsiPjxpbWcgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBzdHlsZT0id2lkdGg6IDIwcHg7IGhlaWdodDogMjBweDsgdmVydGljYWwtYWxpZ246IHN1YjsgYm9yZGVyLXJhZGl1czogNTAlOzsiIHNyYz0iaHR0cHM6Ly9saDMuZ29vZ2xldXNlcmNvbnRlbnQuY29tL2EvQUxtNXd1M1A1MXBkRV9VN2JrcVU0VVhwZEYyWjBsTnBsZWZTQmxJLWVtVDBPUT1zOTYiIGFsdD0iIj48L3RkPjx0ZD48YSBzdHlsZT0iZm9udC1mYW1pbHk6ICYjMzk7R29vZ2xlIFNhbnMmIzM5OyxSb2JvdG8sUm9ib3RvRHJhZnQsSGVsdmV0aWNhLEFyaWFsLHNhbnMtc2VyaWY7Y29sb3I6IHJnYmEoMCwwLDAsMC44Nyk7IGZvbnQtc2l6ZTogMTRweDsgbGluZS1oZWlnaHQ6IDIwcHg7Ij50dXNoYXI1MzUzQGdtYWlsLmNvbTwvYT48L3RkPjwvdHI-PC90YWJsZT4gPC9kaXY-PGRpdiBzdHlsZT0iZm9udC1mYW1pbHk6IFJvYm90by1SZWd1bGFyLEhlbHZldGljYSxBcmlhbCxzYW5zLXNlcmlmOyBmb250LXNpemU6IDE0cHg7IGNvbG9yOiByZ2JhKDAsMCwwLDAuODcpOyBsaW5lLWhlaWdodDogMjBweDtwYWRkaW5nLXRvcDogMjBweDsgdGV4dC1hbGlnbjogbGVmdDsiPjxicj5JZiB5b3UgZGlkIG5vdCBncmFudCBhY2Nlc3MsIHlvdSBzaG91bGQgY2hlY2sgdGhpcyBhY3Rpdml0eSBhbmQgc2VjdXJlIHlvdXIgYWNjb3VudC48ZGl2IHN0eWxlPSJwYWRkaW5nLXRvcDogMzJweDsgdGV4dC1hbGlnbjogY2VudGVyOyI-PGEgaHJlZj0iaHR0cHM6Ly9hY2NvdW50cy5nb29nbGUuY29tL0FjY291bnRDaG9vc2VyP0VtYWlsPXR1c2hhcjUzNTNAZ21haWwuY29tJmFtcDtjb250aW51ZT1odHRwczovL215YWNjb3VudC5nb29nbGUuY29tL2FsZXJ0L250LzE2NjgzNDQ2ODMwMDA_cmZuJTNEMTI3JTI2cmZuYyUzRDElMjZlaWQlM0QtMTY4ODEwMjU0NTk3NzM3Nzc4NSUyNmV0JTNEMCIgdGFyZ2V0PSJfYmxhbmsiIGxpbmstaWQ9Im1haW4tYnV0dG9uLWxpbmsiIHN0eWxlPSJmb250LWZhbWlseTogJiMzOTtHb29nbGUgU2FucyYjMzk7LFJvYm90byxSb2JvdG9EcmFmdCxIZWx2ZXRpY2EsQXJpYWwsc2Fucy1zZXJpZjsgbGluZS1oZWlnaHQ6IDE2cHg7IGNvbG9yOiAjZmZmZmZmOyBmb250LXdlaWdodDogNDAwOyB0ZXh0LWRlY29yYXRpb246IG5vbmU7Zm9udC1zaXplOiAxNHB4O2Rpc3BsYXk6aW5saW5lLWJsb2NrO3BhZGRpbmc6IDEwcHggMjRweDtiYWNrZ3JvdW5kLWNvbG9yOiAjNDE4NEYzOyBib3JkZXItcmFkaXVzOiA1cHg7IG1pbi13aWR0aDogOTBweDsiPkNoZWNrIGFjdGl2aXR5PC9hPjwvZGl2PjwvZGl2PjxkaXYgc3R5bGU9InBhZGRpbmctdG9wOiAyMHB4OyBmb250LXNpemU6IDEycHg7IGxpbmUtaGVpZ2h0OiAxNnB4OyBjb2xvcjogIzVmNjM2ODsgbGV0dGVyLXNwYWNpbmc6IDAuM3B4OyB0ZXh0LWFsaWduOiBjZW50ZXIiPllvdSBjYW4gYWxzbyBzZWUgc2VjdXJpdHkgYWN0aXZpdHkgYXQ8YnI-PGEgc3R5bGU9ImNvbG9yOiByZ2JhKDAsIDAsIDAsIDAuODcpO3RleHQtZGVjb3JhdGlvbjogaW5oZXJpdDsiPmh0dHBzOi8vbXlhY2NvdW50Lmdvb2dsZS5jb20vbm90aWZpY2F0aW9uczwvYT48L2Rpdj48L2Rpdj48ZGl2IHN0eWxlPSJ0ZXh0LWFsaWduOiBsZWZ0OyI-PGRpdiBzdHlsZT0iZm9udC1mYW1pbHk6IFJvYm90by1SZWd1bGFyLEhlbHZldGljYSxBcmlhbCxzYW5zLXNlcmlmO2NvbG9yOiByZ2JhKDAsMCwwLDAuNTQpOyBmb250LXNpemU6IDExcHg7IGxpbmUtaGVpZ2h0OiAxOHB4OyBwYWRkaW5nLXRvcDogMTJweDsgdGV4dC1hbGlnbjogY2VudGVyOyI-PGRpdj5Zb3UgcmVjZWl2ZWQgdGhpcyBlbWFpbCB0byBsZXQgeW91IGtub3cgYWJvdXQgaW1wb3J0YW50IGNoYW5nZXMgdG8geW91ciBHb29nbGUgQWNjb3VudCBhbmQgc2VydmljZXMuPC9kaXY-PGRpdiBzdHlsZT0iZGlyZWN0aW9uOiBsdHI7Ij4mY29weTsgMjAyMiBHb29nbGUgTExDLCA8YSBjbGFzcz0iYWZhbCIgc3R5bGU9ImZvbnQtZmFtaWx5OiBSb2JvdG8tUmVndWxhcixIZWx2ZXRpY2EsQXJpYWwsc2Fucy1zZXJpZjtjb2xvcjogcmdiYSgwLDAsMCwwLjU0KTsgZm9udC1zaXplOiAxMXB4OyBsaW5lLWhlaWdodDogMThweDsgcGFkZGluZy10b3A6IDEycHg7IHRleHQtYWxpZ246IGNlbnRlcjsiPjE2MDAgQW1waGl0aGVhdHJlIFBhcmt3YXksIE1vdW50YWluIFZpZXcsIENBIDk0MDQzLCBVU0E8L2E-PC9kaXY-PC9kaXY-PC9kaXY-PC90ZD48dGQgd2lkdGg9IjgiIHN0eWxlPSJ3aWR0aDogOHB4OyI-PC90ZD48L3RyPjwvdGFibGU-PC90ZD48L3RyPjx0ciBoZWlnaHQ9IjMyIiBzdHlsZT0iaGVpZ2h0OiAzMnB4OyI-PHRkPjwvdGQ-PC90cj48L3RhYmxlPjwvYm9keT48L2h0bWw-'}}]}

In [55]:
x['headers']
for info in x['headers']:
    if info['name'] in ['Date', 'From', 'Subject']:
        print(info)

{'name': 'Date', 'value': 'Sun, 13 Nov 2022 13:04:43 GMT'}
{'name': 'Subject', 'value': 'Security alert'}
{'name': 'From', 'value': 'Google <no-reply@accounts.google.com>'}

In [60]:
x['parts']

[{'partId': '0',
  'mimeType': 'text/plain',
  'filename': '',
  'headers': [{'name': 'Content-Type',
    'value': 'text/plain; charset="UTF-8"; format=flowed; delsp=yes'},
   {'name': 'Content-Transfer-Encoding', 'value': 'base64'}],
  'body': {'size': 668,
   'data': 'W2ltYWdlOiBHb29nbGVdDQpnbWFpbC11c2luZy1hcGktdGVzdCB3YXMgZ3JhbnRlZCBhY2Nlc3MgdG8geW91ciBHb29nbGUgQWNjb3VudA0KDQoNCnR1c2hhcjUzNTNAZ21haWwuY29tDQoNCklmIHlvdSBkaWQgbm90IGdyYW50IGFjY2VzcywgeW91IHNob3VsZCBjaGVjayB0aGlzIGFjdGl2aXR5IGFuZCBzZWN1cmUgeW91cg0KYWNjb3VudC4NCkNoZWNrIGFjdGl2aXR5DQo8aHR0cHM6Ly9hY2NvdW50cy5nb29nbGUuY29tL0FjY291bnRDaG9vc2VyP0VtYWlsPXR1c2hhcjUzNTNAZ21haWwuY29tJmNvbnRpbnVlPWh0dHBzOi8vbXlhY2NvdW50Lmdvb2dsZS5jb20vYWxlcnQvbnQvMTY2ODM0NDY4MzAwMD9yZm4lM0QxMjclMjZyZm5jJTNEMSUyNmVpZCUzRC0xNjg4MTAyNTQ1OTc3Mzc3Nzg1JTI2ZXQlM0QwPg0KWW91IGNhbiBhbHNvIHNlZSBzZWN1cml0eSBhY3Rpdml0eSBhdA0KaHR0cHM6Ly9teWFjY291bnQuZ29vZ2xlLmNvbS9ub3RpZmljYXRpb25zDQpZb3UgcmVjZWl2ZWQgdGhpcyBlbWFpbCB0byBsZXQgeW91IGtub3cgYWJvdXQgaW1wb3J0YW50IGNoYW5nZXMgdG8geW91cg0KR29vZ2xlIEFjY291bnQgYW5kIHNlcnZpY2VzLg0KwqkgMjAyMiBHb29nbGUgTExDLCAxNjAwIEFtcGhpdGhlYXRyZSBQYXJrd2F5LCBNb3VudGFpbiBWaWV3LCBDQSA5NDA0MywgVVNBDQo='}},
 {'partId': '1',
  'mimeType': 'text/html',
  'filename': '',
  'headers': [{'name': 'Content-Type', 'value': 'text/html; charset="UTF-8"'},
   {'name': 'Content-Transfer-Encoding', 'value': 'quoted-printable'}],
  'body': {'size': 4701,
   'data': 'PCFET0NUWVBFIGh0bWw-PGh0bWwgbGFuZz0iZW4iPjxoZWFkPjxtZXRhIG5hbWU9ImZvcm1hdC1kZXRlY3Rpb24iIGNvbnRlbnQ9ImVtYWlsPW5vIi8-PG1ldGEgbmFtZT0iZm9ybWF0LWRldGVjdGlvbiIgY29udGVudD0iZGF0ZT1ubyIvPjxzdHlsZSBub25jZT0icEUzWGtrR2JycHhUeFhwZld6Y3dCQSI-LmF3bCBhIHtjb2xvcjogI0ZGRkZGRjsgdGV4dC1kZWNvcmF0aW9uOiBub25lO30gLmFibWwgYSB7Y29sb3I6ICMwMDAwMDA7IGZvbnQtZmFtaWx5OiBSb2JvdG8tTWVkaXVtLEhlbHZldGljYSxBcmlhbCxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1kZWNvcmF0aW9uOiBub25lO30gLmFkZ2wgYSB7Y29sb3I6IHJnYmEoMCwgMCwgMCwgMC44Nyk7IHRleHQtZGVjb3JhdGlvbjogbm9uZTt9IC5hZmFsIGEge2NvbG9yOiAjYjBiMGIwOyB0ZXh0LWRlY29yYXRpb246IG5vbmU7fSBAbWVkaWEgc2NyZWVuIGFuZCAobWluLXdpZHRoOiA2MDBweCkgey52MnNwIHtwYWRkaW5nOiA2cHggMzBweCAwcHg7fSAudjJyc3Age3BhZGRpbmc6IDBweCAxMHB4O319IEBtZWRpYSBzY3JlZW4gYW5kIChtaW4td2lkdGg6IDYwMHB4KSB7Lm1kdjJydyB7cGFkZGluZzogNDBweCA0MHB4O319IDwvc3R5bGU-PGxpbmsgaHJlZj0iLy9mb250cy5nb29nbGVhcGlzLmNvbS9jc3M_ZmFtaWx5PUdvb2dsZStTYW5zIiByZWw9InN0eWxlc2hlZXQiIHR5cGU9InRleHQvY3NzIiBub25jZT0icEUzWGtrR2JycHhUeFhwZld6Y3dCQSIvPjwvaGVhZD48Ym9keSBzdHlsZT0ibWFyZ2luOiAwOyBwYWRkaW5nOiAwOyIgYmdjb2xvcj0iI0ZGRkZGRiI-PHRhYmxlIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHN0eWxlPSJtaW4td2lkdGg6IDM0OHB4OyIgYm9yZGVyPSIwIiBjZWxsc3BhY2luZz0iMCIgY2VsbHBhZGRpbmc9IjAiIGxhbmc9ImVuIj48dHIgaGVpZ2h0PSIzMiIgc3R5bGU9ImhlaWdodDogMzJweDsiPjx0ZD48L3RkPjwvdHI-PHRyIGFsaWduPSJjZW50ZXIiPjx0ZD48ZGl2IGl0ZW1zY29wZSBpdGVtdHlwZT0iLy9zY2hlbWEub3JnL0VtYWlsTWVzc2FnZSI-PGRpdiBpdGVtcHJvcD0iYWN0aW9uIiBpdGVtc2NvcGUgaXRlbXR5cGU9Ii8vc2NoZW1hLm9yZy9WaWV3QWN0aW9uIj48bGluayBpdGVtcHJvcD0idXJsIiBocmVmPSJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20vQWNjb3VudENob29zZXI_RW1haWw9dHVzaGFyNTM1M0BnbWFpbC5jb20mYW1wO2NvbnRpbnVlPWh0dHBzOi8vbXlhY2NvdW50Lmdvb2dsZS5jb20vYWxlcnQvbnQvMTY2ODM0NDY4MzAwMD9yZm4lM0QxMjclMjZyZm5jJTNEMSUyNmVpZCUzRC0xNjg4MTAyNTQ1OTc3Mzc3Nzg1JTI2ZXQlM0QwIi8-PG1ldGEgaXRlbXByb3A9Im5hbWUiIGNvbnRlbnQ9IlJldmlldyBBY3Rpdml0eSIvPjwvZGl2PjwvZGl2Pjx0YWJsZSBib3JkZXI9IjAiIGNlbGxzcGFjaW5nPSIwIiBjZWxscGFkZGluZz0iMCIgc3R5bGU9InBhZGRpbmctYm90dG9tOiAyMHB4OyBtYXgtd2lkdGg6IDUxNnB4OyBtaW4td2lkdGg6IDIyMHB4OyI-PHRyPjx0ZCB3aWR0aD0iOCIgc3R5bGU9IndpZHRoOiA4cHg7Ij48L3RkPjx0ZD48ZGl2IHN0eWxlPSJib3JkZXItc3R5bGU6IHNvbGlkOyBib3JkZXItd2lkdGg6IHRoaW47IGJvcmRlci1jb2xvcjojZGFkY2UwOyBib3JkZXItcmFkaXVzOiA4cHg7IHBhZGRpbmc6IDQwcHggMjBweDsiIGFsaWduPSJjZW50ZXIiIGNsYXNzPSJtZHYycnciPjxpbWcgc3JjPSJodHRwczovL3d3dy5nc3RhdGljLmNvbS9pbWFnZXMvYnJhbmRpbmcvZ29vZ2xlbG9nby8yeC9nb29nbGVsb2dvX2NvbG9yXzc0eDI0ZHAucG5nIiB3aWR0aD0iNzQiIGhlaWdodD0iMjQiIGFyaWEtaGlkZGVuPSJ0cnVlIiBzdHlsZT0ibWFyZ2luLWJvdHRvbTogMTZweDsiIGFsdD0iR29vZ2xlIj48ZGl2IHN0eWxlPSJmb250LWZhbWlseTogJiMzOTtHb29nbGUgU2FucyYjMzk7LFJvYm90byxSb2JvdG9EcmFmdCxIZWx2ZXRpY2EsQXJpYWwsc2Fucy1zZXJpZjtib3JkZXItYm90dG9tOiB0aGluIHNvbGlkICNkYWRjZTA7IGNvbG9yOiByZ2JhKDAsMCwwLDAuODcpOyBsaW5lLWhlaWdodDogMzJweDsgcGFkZGluZy1ib3R0b206IDI0cHg7dGV4dC1hbGlnbjogY2VudGVyOyB3b3JkLWJyZWFrOiBicmVhay13b3JkOyI-PGRpdiBzdHlsZT0iZm9udC1zaXplOiAyNHB4OyI-PGE-Z21haWwtdXNpbmctYXBpLXRlc3Q8L2E-IHdhcyBncmFudGVkIGFjY2VzcyB0byB5b3VyIEdvb2dsZSZuYnNwO0FjY291bnQgPC9kaXY-PHRhYmxlIGFsaWduPSJjZW50ZXIiIHN0eWxlPSJtYXJnaW4tdG9wOjhweDsiPjx0ciBzdHlsZT0ibGluZS1oZWlnaHQ6IG5vcm1hbDsiPjx0ZCBhbGlnbj0icmlnaHQiIHN0eWxlPSJwYWRkaW5nLXJpZ2h0OjhweDsiPjxpbWcgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBzdHlsZT0id2lkdGg6IDIwcHg7IGhlaWdodDogMjBweDsgdmVydGljYWwtYWxpZ246IHN1YjsgYm9yZGVyLXJhZGl1czogNTAlOzsiIHNyYz0iaHR0cHM6Ly9saDMuZ29vZ2xldXNlcmNvbnRlbnQuY29tL2EvQUxtNXd1M1A1MXBkRV9VN2JrcVU0VVhwZEYyWjBsTnBsZWZTQmxJLWVtVDBPUT1zOTYiIGFsdD0iIj48L3RkPjx0ZD48YSBzdHlsZT0iZm9udC1mYW1pbHk6ICYjMzk7R29vZ2xlIFNhbnMmIzM5OyxSb2JvdG8sUm9ib3RvRHJhZnQsSGVsdmV0aWNhLEFyaWFsLHNhbnMtc2VyaWY7Y29sb3I6IHJnYmEoMCwwLDAsMC44Nyk7IGZvbnQtc2l6ZTogMTRweDsgbGluZS1oZWlnaHQ6IDIwcHg7Ij50dXNoYXI1MzUzQGdtYWlsLmNvbTwvYT48L3RkPjwvdHI-PC90YWJsZT4gPC9kaXY-PGRpdiBzdHlsZT0iZm9udC1mYW1pbHk6IFJvYm90by1SZWd1bGFyLEhlbHZldGljYSxBcmlhbCxzYW5zLXNlcmlmOyBmb250LXNpemU6IDE0cHg7IGNvbG9yOiByZ2JhKDAsMCwwLDAuODcpOyBsaW5lLWhlaWdodDogMjBweDtwYWRkaW5nLXRvcDogMjBweDsgdGV4dC1hbGlnbjogbGVmdDsiPjxicj5JZiB5b3UgZGlkIG5vdCBncmFudCBhY2Nlc3MsIHlvdSBzaG91bGQgY2hlY2sgdGhpcyBhY3Rpdml0eSBhbmQgc2VjdXJlIHlvdXIgYWNjb3VudC48ZGl2IHN0eWxlPSJwYWRkaW5nLXRvcDogMzJweDsgdGV4dC1hbGlnbjogY2VudGVyOyI-PGEgaHJlZj0iaHR0cHM6Ly9hY2NvdW50cy5nb29nbGUuY29tL0FjY291bnRDaG9vc2VyP0VtYWlsPXR1c2hhcjUzNTNAZ21haWwuY29tJmFtcDtjb250aW51ZT1odHRwczovL215YWNjb3VudC5nb29nbGUuY29tL2FsZXJ0L250LzE2NjgzNDQ2ODMwMDA_cmZuJTNEMTI3JTI2cmZuYyUzRDElMjZlaWQlM0QtMTY4ODEwMjU0NTk3NzM3Nzc4NSUyNmV0JTNEMCIgdGFyZ2V0PSJfYmxhbmsiIGxpbmstaWQ9Im1haW4tYnV0dG9uLWxpbmsiIHN0eWxlPSJmb250LWZhbWlseTogJiMzOTtHb29nbGUgU2FucyYjMzk7LFJvYm90byxSb2JvdG9EcmFmdCxIZWx2ZXRpY2EsQXJpYWwsc2Fucy1zZXJpZjsgbGluZS1oZWlnaHQ6IDE2cHg7IGNvbG9yOiAjZmZmZmZmOyBmb250LXdlaWdodDogNDAwOyB0ZXh0LWRlY29yYXRpb246IG5vbmU7Zm9udC1zaXplOiAxNHB4O2Rpc3BsYXk6aW5saW5lLWJsb2NrO3BhZGRpbmc6IDEwcHggMjRweDtiYWNrZ3JvdW5kLWNvbG9yOiAjNDE4NEYzOyBib3JkZXItcmFkaXVzOiA1cHg7IG1pbi13aWR0aDogOTBweDsiPkNoZWNrIGFjdGl2aXR5PC9hPjwvZGl2PjwvZGl2PjxkaXYgc3R5bGU9InBhZGRpbmctdG9wOiAyMHB4OyBmb250LXNpemU6IDEycHg7IGxpbmUtaGVpZ2h0OiAxNnB4OyBjb2xvcjogIzVmNjM2ODsgbGV0dGVyLXNwYWNpbmc6IDAuM3B4OyB0ZXh0LWFsaWduOiBjZW50ZXIiPllvdSBjYW4gYWxzbyBzZWUgc2VjdXJpdHkgYWN0aXZpdHkgYXQ8YnI-PGEgc3R5bGU9ImNvbG9yOiByZ2JhKDAsIDAsIDAsIDAuODcpO3RleHQtZGVjb3JhdGlvbjogaW5oZXJpdDsiPmh0dHBzOi8vbXlhY2NvdW50Lmdvb2dsZS5jb20vbm90aWZpY2F0aW9uczwvYT48L2Rpdj48L2Rpdj48ZGl2IHN0eWxlPSJ0ZXh0LWFsaWduOiBsZWZ0OyI-PGRpdiBzdHlsZT0iZm9udC1mYW1pbHk6IFJvYm90by1SZWd1bGFyLEhlbHZldGljYSxBcmlhbCxzYW5zLXNlcmlmO2NvbG9yOiByZ2JhKDAsMCwwLDAuNTQpOyBmb250LXNpemU6IDExcHg7IGxpbmUtaGVpZ2h0OiAxOHB4OyBwYWRkaW5nLXRvcDogMTJweDsgdGV4dC1hbGlnbjogY2VudGVyOyI-PGRpdj5Zb3UgcmVjZWl2ZWQgdGhpcyBlbWFpbCB0byBsZXQgeW91IGtub3cgYWJvdXQgaW1wb3J0YW50IGNoYW5nZXMgdG8geW91ciBHb29nbGUgQWNjb3VudCBhbmQgc2VydmljZXMuPC9kaXY-PGRpdiBzdHlsZT0iZGlyZWN0aW9uOiBsdHI7Ij4mY29weTsgMjAyMiBHb29nbGUgTExDLCA8YSBjbGFzcz0iYWZhbCIgc3R5bGU9ImZvbnQtZmFtaWx5OiBSb2JvdG8tUmVndWxhcixIZWx2ZXRpY2EsQXJpYWwsc2Fucy1zZXJpZjtjb2xvcjogcmdiYSgwLDAsMCwwLjU0KTsgZm9udC1zaXplOiAxMXB4OyBsaW5lLWhlaWdodDogMThweDsgcGFkZGluZy10b3A6IDEycHg7IHRleHQtYWxpZ246IGNlbnRlcjsiPjE2MDAgQW1waGl0aGVhdHJlIFBhcmt3YXksIE1vdW50YWluIFZpZXcsIENBIDk0MDQzLCBVU0E8L2E-PC9kaXY-PC9kaXY-PC9kaXY-PC90ZD48dGQgd2lkdGg9IjgiIHN0eWxlPSJ3aWR0aDogOHB4OyI-PC90ZD48L3RyPjwvdGFibGU-PC90ZD48L3RyPjx0ciBoZWlnaHQ9IjMyIiBzdHlsZT0iaGVpZ2h0OiAzMnB4OyI-PHRkPjwvdGQ-PC90cj48L3RhYmxlPjwvYm9keT48L2h0bWw-'}}]

In [63]:
import pandas as pd
dict_ = [{'key 1': 'value 1', 'key 2': 'value 2', 'key 3': 'value 3'},
        {'key 1': 'value 1', 'key 2': 'value 2', 'key 3': 'value 3'}]

In [65]:
x = pd.DataFrame(dict_)

In [66]:
import pandas as pd
dict_ = [{'key 3': 'value 1', 'key 2': 'value 2', 'key 3': 'value 3', 'asdfsd':4444},
        {'key 1': 'value 1', 'key 2': 'value 2', 'key 3': 'value 3', 'safdsadfff': 444}]

In [67]:
y = pd.DataFrame(dict_)

In [70]:
pd.concat([x,y])

     key 1    key 2    key 3  asdfsd  safdsadfff
0  value 1  value 2  value 3     NaN         NaN
1  value 1  value 2  value 3     NaN         NaN
0      NaN  value 2  value 3  4444.0         NaN
1  value 1  value 2  value 3     NaN       444.0