In [2]:
# %load ../local_connect.py
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+mysqlconnector://tushar:@localhost', echo=True)
%load_ext sql
%sql mysql+mysqlconnector://tushar:@localhost
%config SqlMagic.autopandas=True

import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)

In [3]:
%%sql
select * from test.products_avg

 * mysql+mysqlconnector://tushar:***@localhost
3 rows affected.

   product_id period_start  period_end  average_daily_sales
0           1   2019-01-25  2019-02-28                  100
1           2   2018-12-01  2020-01-01                   10
2           3   2019-12-01  2020-01-31                    1

In [17]:
%%sql
WITH RECURSIVE 
date_loop(product_id,start_date, end_date, avg_sales) AS (
SELECT product_id,
       MIN(period_start) AS start_date,
       MAX(period_end) AS end_date,
       MAX(average_daily_sales) AS avg_sales
FROM   test.products_avg
GROUP BY product_id
    
UNION ALL
    
SELECT product_id,
       DATE_ADD(start_date, interval 1 day) AS start_date,
       end_date,
       avg_sales
FROM   date_loop
WHERE  start_date < end_date
    
)
SELECT year(start_date) AS year,
       product_id,
       SUM(avg_sales) AS total_sales
FROM   date_loop
GROUP BY
       year,
       product_id

 * mysql+mysqlconnector://tushar:***@localhost
6 rows affected.

   year  product_id total_sales
0  2019           1        3500
1  2018           2         310
2  2019           3          31
3  2019           2        3650
4  2020           3          31
5  2020           2          10