In [26]:
# %load ../local_connect.py
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+mysqlconnector://tushar:@localhost', echo=True)
%load_ext sql
%sql mysql+mysqlconnector://tushar:@localhost
%config SqlMagic.autopandas=True

import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [17]:
%%sql
select *, lag(is_empty,1) over ( order by seat_no) previous_seat_status,
         lead(is_empty,1) over(order by seat_no) next_seat_status from test.bms
order by seat_no

 * mysql+mysqlconnector://tushar:***@localhost
14 rows affected.

    seat_no is_empty previous_seat_status next_seat_status
0         1        N                 None                Y
1         2        Y                    N                N
2         3        N                    Y                Y
3         4        Y                    N                Y
4         5        Y                    Y                Y
5         6        Y                    Y                N
6         7        N                    Y                Y
7         8        Y                    N                Y
8         9        Y                    Y                Y
9        10        Y                    Y                Y
10       11        Y                    Y                N
11       12        N                    Y                Y
12       13        Y                    N                Y
13       14        Y                    Y             None

In [33]:
%%sql
select 4%2

 * mysql+mysqlconnector://tushar:***@localhost
1 rows affected.

   4%2
0    0

In [19]:
%%sql
with info as(
select *, lag(is_empty,1) over ( order by seat_no) previous_seat_status,
         lead(is_empty,1) over(order by seat_no) next_seat_status from test.bms
order by seat_no)
select seat_no
from info where (previous_seat_status='Y' and  is_empty='Y') or (next_seat_status='Y' and  is_empty='Y')
order by seat_no

 * mysql+mysqlconnector://tushar:***@localhost
9 rows affected.

   seat_no
0        4
1        5
2        6
3        8
4        9
5       10
6       11
7       13
8       14

In [24]:
%%sql
/* Three consecutive seats are empty */
select seat_no from (
select *,
sum(case when is_empty='Y' then 1 else 0 end) over (order by seat_no rows between 2 preceding and current row) prev_2,
sum(case when is_empty='Y' then 1 else 0 end) over (order by seat_no rows between 1 preceding and 1 following) prev_next,
sum(case when is_empty='Y' then 1 else 0 end) over (order by seat_no rows between current row and 2 following) next_2
from test.bms
) tmp
where prev_2=3 or prev_next=3 or next_2=3

 * mysql+mysqlconnector://tushar:***@localhost
7 rows affected.

   seat_no
0        4
1        5
2        6
3        8
4        9
5       10
6       11

In [13]:
x = 1
y = 2
for i in range(1,y+1):
    x = x+y
print(x-1)

4

In [34]:
from hashlib import sha1
import time
import random

class IDGen(object):
        def __init__(self):
                self._hasher = sha1()
                self._id = 0
        def __get__(self, *_, **__):
                self._id += 1
                self._hasher.update(str(self._id).encode())
                self._hasher.update(time.ctime().encode())
                self._hasher.update(str(random.random).encode())
                return self._hasher.hexdigest()

In [38]:
import jsonrpc
x = IDGen()
x.__get__()

ModuleNotFoundError: No module named 'jsonrpc'

In [41]:
import json


_DUMPS = json.dumps


def dumps(*args, **kwargs):
    """Wrapper around json.dumps to use custom endcoder"""
    if 'cls' in kwargs:
        del kwargs['cls']
    return _DUMPS(*args, cls=JSONEncoder, **kwargs)

class JSONEncoder(json.JSONEncoder):
    """
    Custom encoder that calls 'json_equivalent' methods on objects
    to serialize them into JSON
    """

    def __init__(self, *args, **kwargs):
        """Initialize the encoder object"""
        json.JSONEncoder.__init__(self, *args, **kwargs)

    def default(self, obj):
        """Return a json serializable object representing given object"""
        if hasattr(obj, 'json_equivalent'):
            return obj.json_equivalent()

        return json.JSONEncoder.default(self, obj)

In [47]:
!pip install jsonrpc

Collecting jsonrpc
  Downloading jsonrpc-3.0.1-py3-none-any.whl (18 kB)
Requirement already satisfied: pyOpenSSL in /usr/lib/python3/dist-packages (from jsonrpc) (19.0.0)
Requirement already satisfied: service-identity in /usr/lib/python3/dist-packages (from jsonrpc) (18.1.0)
Requirement already satisfied: Twisted in /usr/lib/python3/dist-packages (from jsonrpc) (18.9.0)
Installing collected packages: jsonrpc
Successfully installed jsonrpc-3.0.1

In [50]:
import jsonrpc
import functools

def encode_(obj, **kw):
        obj = getattr(obj, 'json_equivalent', lambda: obj)()
        func = lambda x: x
        if hasattr(obj, 'items'):
                func = dict_encode
        elif hasattr(obj, '__iter__'):
                func = list_encode
        else:
                func = safe_encode
        return func(obj)
    
encode = functools.partial(json.dumps, default=encode_)
x=1
y=2
dumps(encode(x))

'"1"'

In [53]:
import pyathena

In [56]:
{(1,2):2}

{(1, 2): 2}