In [2]:
# %load ../local_connect.py
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+mysqlconnector://tushar:@localhost', echo=True)
%load_ext sql
%sql mysql+mysqlconnector://tushar:@localhost
%config SqlMagic.autopandas=True

import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)

In [6]:
%%sql
select * from test.STORES order by store, quarter

 * mysql+mysqlconnector://tushar:***@localhost
9 rows affected.

  Store Quarter  Amount
0    S1      Q1     200
1    S1      Q2     300
2    S1      Q4     400
3    S2      Q1     500
4    S2      Q3     600
5    S2      Q4     700
6    S3      Q1     800
7    S3      Q2     750
8    S3      Q3     900

In [37]:
%%sql
with recursive quarter_loop
(store, quarter) as (
select distinct store as store, 1 as quarter
    from test.STORES
    union all
select store, quarter+1
    from quarter_loop
    where quarter<4
),
store_all_quarters as(
select store, concat('Q', quarter) as quarter from quarter_loop
)

select saq.store, saq.quarter missing_quarter
from store_all_quarters saq
left join test.STORES S on saq.store=S.Store and saq.quarter=S.Quarter
where S.Quarter is null
/*
select Store, case when if , aq.quarters
from all_quarters aq
left join test.STORES S
on S.Quarter = aq.quarters
order by Store, quarters*/

 * mysql+mysqlconnector://tushar:***@localhost
3 rows affected.

  store missing_quarter
0    S2              Q2
1    S1              Q3
2    S3              Q4

In [26]:
%%sql
select store, concat('Q',10 - sum(substr(Quarter,2,2))) missing_quarter
from test.STORES group by 1

 * mysql+mysqlconnector://tushar:***@localhost
3 rows affected.

  store missing_quarter
0    S1              Q3
1    S2              Q2
2    S3              Q4

In [35]:
import mysql.connector
import time

class Database:
    """ Class to execute query or to get the result
    """

    def __init__(self):
        """ Constructor Method
        """
        self.conn = mysql.connector.connect(user='tushar', host='localhost')
        self.curr = self.conn.cursor()

        
        

    def get_result(self,query,df=False,params=(),read=False):
        """ Executes the DQL Statments from Slave Node

        :param query: str, SQL select query
        :return: result set for a query
        :rtype: list(dict)
        :raises: Exception
        """
        if read:
            self.slaveconn = mysql.connector.connect(user='tushar', host='localhost')
            self.slavecurr = self.slaveconn.cursor()
            self.slavecurr.execute(query, params)
            if df:
                result = DataFrame(self.slavecurr.fetchall())
                return result

            result = self.slavecurr.fetchall()
            return result
        else:
            self.curr.execute(query, params)
            if df:
                result = DataFrame(self.curr.fetchall())
                return result

            result = self.curr.fetchall()
            return result

    def execute_query(self,query,params=(),read=False):
        """ Executes the DML statements for Master Node

        :param query: str, SQL DML query
        :return: result set for a query
        :rtype: bool
        :raises: Exception
        """
        if read:
            try:
                self.conn.commit()
                self.slavecurr.execute(query, params)
                self.slaveconn.commit()
                return True
            except Exception as e:
                print(f"Error In Executing query - {e}")
                return False
        else:

            try:
                self.curr.execute(query, params)
                self.conn.commit()
                return True
            except Exception as e:
                print("Error In Executing query - str(e)")
                return False

db_obj = Database()
print(db_obj.get_result("select max(id) from test.testing", read=True))
db_obj.execute_query("insert into test.testing values(2003, null)")
db_obj.curr.lastrowid
#print(db_obj.get_result("select max(id) from test.testing", read=True))

[(2075,)]

2003

In [16]:
db_obj.slaveconn.close()