In [2]:
# %load ../local_connect.py
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+mysqlconnector://tushar:@localhost', echo=True)
%load_ext sql
%sql mysql+mysqlconnector://tushar:@localhost
%config SqlMagic.autopandas=True

import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)

In [5]:
%%sql
select * from test.recommendation_system_orders

 * mysql+mysqlconnector://tushar:***@localhost
7 rows affected.

   order_id  customer_id  product_id
0         1            1           1
1         1            1           2
2         1            1           3
3         2            2           1
4         2            2           2
5         2            2           4
6         3            1           5

In [6]:
%%sql
select * from test.recommendation_system_products

 * mysql+mysqlconnector://tushar:***@localhost
5 rows affected.

   id name
0   1    A
1   2    B
2   3    C
3   4    D
4   5    E

In [30]:
%%sql
with freq_info as(
select o1.product_id as p1, o2.product_id as p2, count(*) as product_frequency
from test.recommendation_system_orders o1
join test.recommendation_system_orders o2
on o1.order_id = o2.order_id
where o1.product_id>o2.product_id
group by 1,2
)
select i1.name, i2.name, product_frequency
from freq_info f
inner join test.recommendation_system_products i1
on i1.id = f.p1
inner join test.recommendation_system_products i2
on i2.id = f.p2

 * mysql+mysqlconnector://tushar:***@localhost
5 rows affected.

  name name  product_frequency
0    D    A                  1
1    C    A                  1
2    B    A                  2
3    D    B                  1
4    C    B                  1