In [9]:
# %load ../local_connect.py
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+mysqlconnector://tushar:@localhost', echo=True)
%load_ext sql
%sql mysql+mysqlconnector://tushar:@localhost
%config SqlMagic.autopandas=True

import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [10]:
%%sql
select * from test.tasks

 * mysql+mysqlconnector://tushar:***@localhost
6 rows affected.

   date_value    state
0  2019-01-01  success
1  2019-01-02  success
2  2019-01-03  success
3  2019-01-04     fail
4  2019-01-05     fail
5  2019-01-06  success

In [39]:
%%sql
with all_dates_info as (
select  date_value, state,row_number() over (partition by state order by date_value) as r_number,
date_add(date_value, interval -(row_number() over (partition by state order by date_value)) day) group_date 
    from test.tasks order by date_value
)
select group_date, state, min(date_value) start_date, max(date_value) end_date
from all_dates_info group by 1,2

 * mysql+mysqlconnector://tushar:***@localhost
3 rows affected.

   group_date    state  start_date    end_date
0  2018-12-31  success  2019-01-01  2019-01-03
1  2019-01-03     fail  2019-01-04  2019-01-05
2  2019-01-02  success  2019-01-06  2019-01-06

In [25]:
%%sql
with cte as(select state from test.tasks)
select * from cte

 * mysql+mysqlconnector://tushar:***@localhost
6 rows affected.

     state
0  success
1  success
2  success
3     fail
4     fail
5  success