In [2]:
# %load ../local_connect.py
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+mysqlconnector://tushar:@localhost', echo=True)
%load_ext sql
%sql mysql+mysqlconnector://tushar:@localhost
%config SqlMagic.autopandas=True

import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)

In [5]:
%%sql
select * from test.Trips

 * mysql+mysqlconnector://tushar:***@localhost
10 rows affected.

   id  client_id  driver_id  city_id               status  request_at
0   1          1         10        1            completed  2013-10-01
1   2          2         11        1  cancelled_by_driver  2013-10-01
2   3          3         12        6            completed  2013-10-01
3   4          4         13        6  cancelled_by_client  2013-10-01
4   5          1         10        1            completed  2013-10-02
5   6          2         11        6            completed  2013-10-02
6   7          3         12        6            completed  2013-10-02
7   8          2         12       12            completed  2013-10-03
8   9          3         10       12            completed  2013-10-03
9  10          4         13       12  cancelled_by_driver  2013-10-03

In [6]:
%%sql
select * from test.Users

 * mysql+mysqlconnector://tushar:***@localhost
8 rows affected.

   users_id banned    role
0         1     No  client
1         2    Yes  client
2         3     No  client
3         4     No  client
4        10     No  driver
5        11     No  driver
6        12     No  driver
7        13     No  driver

In [20]:
%%sql
select request_at, cancelled/total
from (
select 
request_at, 
sum(case when status in ('cancelled_by_client','cancelled_by_driver') then 1 else 0 end) as cancelled,
count(*) total
from test.Trips t
inner join test.Users u on t.client_id=u.users_id
inner join test.Users d on t.driver_id=d.users_id
where u.banned='No' and d.banned='No' group by 1) tmp

 * mysql+mysqlconnector://tushar:***@localhost
3 rows affected.

   request_at cancelled/total
0  2013-10-01          0.3333
1  2013-10-02          0.0000
2  2013-10-03          0.5000

In [18]:
%%sql
select * from test.Trips t
inner join test.Users u on t.client_id=u.users_id
inner join test.Users d on t.driver_id=d.users_id
where u.banned='No' and d.banned='No'

 * mysql+mysqlconnector://tushar:***@localhost
7 rows affected.

   id  client_id  driver_id  city_id               status  request_at  users_id banned    role  users_id banned    role
0   1          1         10        1            completed  2013-10-01         1     No  client        10     No  driver
1   3          3         12        6            completed  2013-10-01         3     No  client        12     No  driver
2   4          4         13        6  cancelled_by_client  2013-10-01         4     No  client        13     No  driver
3   5          1         10        1            completed  2013-10-02         1     No  client        10     No  driver
4   7          3         12        6            completed  2013-10-02         3     No  client        12     No  driver
5   9          3         10       12            completed  2013-10-03         3     No  client        10     No  driver
6  10          4         13       12  cancelled_by_driver  2013-10-03         4     No  client        13     No  driver

In [3]:
%%sql df_trips <<
select * from test.Trips

 * mysql+mysqlconnector://tushar:***@localhost
10 rows affected.
Returning data to local variable df_trips

In [4]:
%%sql df_users <<
select * from test.Users

 * mysql+mysqlconnector://tushar:***@localhost
8 rows affected.
Returning data to local variable df_users

In [27]:
final = pd.merge(df_trips, df_users, left_on='client_id', right_on='users_id')
final = pd.merge(final, df_users, left_on='driver_id', right_on='users_id')
print(final)
driver_not_banned = final['banned_y']=='No'
client_not_banned = final['banned_x']=='No'
final = final[driver_not_banned & client_not_banned]

   id  client_id  driver_id  city_id               status  request_at  users_id_x banned_x  role_x  users_id_y banned_y  role_y
0   1          1         10        1            completed  2013-10-01           1       No  client          10       No  driver
1   5          1         10        1            completed  2013-10-02           1       No  client          10       No  driver
2   9          3         10       12            completed  2013-10-03           3       No  client          10       No  driver
3   2          2         11        1  cancelled_by_driver  2013-10-01           2      Yes  client          11       No  driver
4   6          2         11        6            completed  2013-10-02           2      Yes  client          11       No  driver
5   8          2         12       12            completed  2013-10-03           2      Yes  client          12       No  driver
6   3          3         12        6            completed  2013-10-01           3       No  client          12       No  driver
7   7          3         12        6            completed  2013-10-02           3       No  client          12       No  driver
8   4          4         13        6  cancelled_by_client  2013-10-01           4       No  client          13       No  driver
9  10          4         13       12  cancelled_by_driver  2013-10-03           4       No  client          13       No  driver

   id  client_id  driver_id  city_id               status  request_at  users_id_x banned_x  role_x  users_id_y banned_y  role_y
0   1          1         10        1            completed  2013-10-01           1       No  client          10       No  driver
1   5          1         10        1            completed  2013-10-02           1       No  client          10       No  driver
2   9          3         10       12            completed  2013-10-03           3       No  client          10       No  driver
6   3          3         12        6            completed  2013-10-01           3       No  client          12       No  driver
7   7          3         12        6            completed  2013-10-02           3       No  client          12       No  driver
8   4          4         13        6  cancelled_by_client  2013-10-01           4       No  client          13       No  driver
9  10          4         13       12  cancelled_by_driver  2013-10-03           4       No  client          13       No  driver

In [38]:
all_rides = final.groupby('request_at')['status'].count().reset_index()
print(all_rides)
cancelled_rides = final[final['status'].str.contains('cancelled', regex=True)].groupby('request_at')['status'].count().reset_index()
cancelled_rides

   request_at  status
0  2013-10-01       3
1  2013-10-02       2
2  2013-10-03       2

   request_at  status
0  2013-10-01       1
1  2013-10-03       1

In [40]:
final_result = pd.merge(all_rides, cancelled_rides, on='request_at', how='left')
final_result['rate_of_cancellation'] = final_result['status_y']/final_result['status_x']
final_result

   request_at  status_x  status_y  rate_of_cancellation
0  2013-10-01         3       1.0              0.333333
1  2013-10-02         2       NaN                   NaN
2  2013-10-03         2       1.0              0.500000